{% when 'button-primary' %}
            <div li-block="Button Primary">
                    
                          
                    <div data-animation="stagger">
                            <a href="{{ block.settings.url_button_link }}" data-wf--button-main--variant="primary-brown" data-w-id="62fe5b66-eb79-581e-644e-970322077823" class="button-main w-variant-2fefbeae-31c5-f762-65ea-fe5ecac51e2f w-inline-block"> <div class="icon-link-3"> <div class="clip-2 white-10"> <div class="hover-text white-31"> <div class="text-size-small-11 white-34">{{ block.settings.text_button_text }}</div> </div> <div class="hover-text white-31 bottom white-20"> <div class="text-size-small-11 white-34">{{ block.settings.text_button_text }}</div> </div> </div> <div sym-bind="{"visibility":{"type":"Record","val":{"conditions":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"96595133-de64-782c-bc2b-1a27b5d57cf2"}}}}}" class="icon-link_circle-2 white-22"> <div class="clip-2 white-10"> <div class="hover-arrow-3"><img sym-bind="{"img":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"65b07040-501f-bf3a-2cb4-717461e9b2dd"}}}" src="{{ 'arrow-right-long-line.svg' | asset_url }}" alt="" loading="lazy" class="icon-1x1-small-7 white-12"></div> <div class="hover-arrow-3 left-arrow"><img sym-bind="{"img":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"65b07040-501f-bf3a-2cb4-717461e9b2dd"}}}" loading="lazy" alt="" src="{{ 'arrow-right-long-line.svg' | asset_url }}" class="icon-1x1-small-7 white-12"></div> </div> </div> </div> </a>
                          </div>
                    
                        
                </div> {% schema %} {
    "name": "Button Primary",
    "settings": [
        {
            "id": "url_button_link",
            "type": "url",
            "label": "Button Link"
        },
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Learn More"
        }
    ],
    "presets": [
        {
            "name": "Button Primary"
        }
    ]
} {% endschema %}