<div li-block="Slide" class="header-slide swiper-slide">
                    
                
                    <div class="hero-slide-content_layout is-centered">
                  <div class="slider-background_wrap">{% if block.settings.image_image %}
{{ block.settings.image_image | image_url: width: 1000 | image_tag: class: 'slider-background-image', sizes: '(max-width: 1919px) 100vw, 1800.0001220703125px', loading: 'lazy' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'slider-background-image' }} 
{% endif %}</div>
                  <div class="slider-background-image-overlay"></div>
                  <div class="typo-zoom-text-wrapper">
                    <div li-block="Icon">
                    {% if block.settings.image_image_logo %}
{{ block.settings.image_image_logo | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'low-carbon-leather' }}
{% else %}
<img loading="lazy" alt="" src="{{ 'low-carbon-leather-logo_1low-carbon-leather-logo.avif' | asset_url }}" class="low-carbon-leather">
{% endif %}
                </div>
                    <div li-block="Pre-Heading">
                    
                      
                    <p class="more-than">
{{ block.settings.text_pre_heading }}
</p>
                    
                    
                </div>
                    <div li-block="Heading">
                    
                      
                    <p class="hero-heading">
{{ block.settings.text_heading }}
</p>
                    
                    
                </div>
                    <div class="_2rem-spacer"></div>
                    <div li-block="Button Group" class="content-block">
                    
                      
                    <div li-content-for-theme-blocks="" class="button-group centre">
{% content_for 'blocks' %}
</div>
                    
                    
                </div>
                  </div>
                </div>
                    
              
                </div> {% schema %} {
    "name": "Slide",
    "blocks": [
        {
            "type": "button-primary"
        },
        {
            "type": "button-secondary"
        },
        {
            "type": "button-inverted"
        },
        {
            "type": "button-secondary-w"
        },
        {
            "type": "button-icon"
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        }
    ],
    "presets": [
        {
            "name": "Slide"
        }
    ]
} {% endschema %}