<div class="padding-global">
          <div class="container-large">
            <div class="card-component">
              <div id="w-node-_1e720e56-b391-dcf5-0597-3d7820336194-20336190" class="content-wrapper">
                <div>
                  <div class="text-size-medium">Muirhead Seat Cover Service:</div>
                </div>
                <div>
                  <h2 class="heading-style-h2">Muirhead Seat Cover Service</h2>
                </div>
                <div>
                  <div class="rich-text w-richtext">
                    <p>As the world’s most trusted leather supplier for aviation and rail, we bring unparalleled expertise in crafting durable, high-quality leather seat covers. Most manufacturers today are optimised for fabric and synthetic materials. </p>
                    <p>‍</p>
                    <p>However, leather requires specialised processes to achieve the highest standards in production, performance, lead times and cost efficiency. </p>
                    <p>‍</p>
                    <p><strong>And that’s just the beginning.</strong></p>
                  </div>
                </div>
                <div class="button-group">
                  <a href="{{ section.settings.url_button_link }}" data-wf--button-main--variant="dark" data-w-id="62fe5b66-eb79-581e-644e-970322077823" class="button-main w-variant-40d42f51-beaf-80a4-8697-83623596810b w-inline-block"> <div class="icon-link-3"> <div class="clip-2 white-10"> <div class="hover-text white-31"> <div class="text-size-small-11 white-34">{{ section.settings.text_button_text }}</div> </div> <div class="hover-text white-31 bottom white-20"> <div class="text-size-small-11 white-34">{{ section.settings.text_button_text }}</div> </div> </div> <div sym-bind="{"visibility":{"type":"Record","val":{"conditions":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"96595133-de64-782c-bc2b-1a27b5d57cf2"}}}}}" class="icon-link_circle-2 white-22"> <div class="clip-2 white-10"> <div class="hover-arrow-3"><img sym-bind="{"img":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"65b07040-501f-bf3a-2cb4-717461e9b2dd"}}}" src="{{ 'arrow-right-long-line_1.svg' | asset_url }}" alt="" loading="lazy" class="icon-1x1-small-7 white-12"></div> <div class="hover-arrow-3 left-arrow"><img sym-bind="{"img":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"65b07040-501f-bf3a-2cb4-717461e9b2dd"}}}" loading="lazy" alt="" src="{{ 'arrow-right-long-line_1.svg' | asset_url }}" class="icon-1x1-small-7 white-12"></div> </div> </div> </div> </a>
                </div>
              </div>{% if section.settings.image_image %}
{{ section.settings.image_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'card-image' }}
{% else %}
<img alt="" src="{{ 'image.svg' | asset_url }}" loading="lazy" class="card-image">
{% endif %}
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Basic Image 1",
    "class": "section _2rem",
    "settings": [
        {
            "id": "url_button_link",
            "type": "url",
            "label": "Button Link"
        },
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Learn More"
        },
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        }
    ],
    "presets": [
        {
            "name": "Basic Image 1",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}