{% for block in section.blocks %}
    {% if block.type == "card" %}
                    <div li-block="Card" class="promo-wrapper top-middle">
                                    
          
                                    <a href="{{ block.settings.url_link }}" class="w-inline-block"> <div href="#" class="link-block"> <div class="text-color-white-2 text-align-center z-index-2">{{ block.settings.text_text }}</div> <div class="promo-overlay z-index-1"></div>{% if block.settings.image_image %} {{ block.settings.image_image | image_url: width: 1000 | image_tag: class: 'promo-image-wrapper', sizes: '239.93057250976562px', loading: 'lazy' }} {% else %} <img class="promo-image-wrapper" src="{{ 'aviation.webp' | asset_url }}" alt="" sizes="239.93057250976562px" loading="lazy" srcset="{{ 'aviation-p-500.webp' | asset_url }} 500w, {{ 'aviation-p-800.webp' | asset_url }} 800w, {{ 'aviation-p-1080.webp' | asset_url }} 1080w, {{ 'aviation.webp' | asset_url }} 1520w"> {% endif %} </div> </a>
                                    
        
                            </div>
            {% endif %}
{% endfor %} {% schema %} {
    "tag": "div",
    "name": "CTA Cards",
    "class": "section cta",
    "blocks": [
        {
            "name": "Card",
            "type": "card",
            "settings": [
                {
                    "id": "url_link",
                    "type": "url",
                    "label": "Link"
                },
                {
                    "id": "text_text",
                    "type": "text",
                    "label": "Text",
                    "default": "Aviation"
                },
                {
                    "id": "image_image",
                    "type": "image_picker",
                    "label": "Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "CTA Cards",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "card"
                }
            ]
        }
    ]
} {% endschema %}