<div class="padding-global padding-section-small">
          <div class="container-large">
            <div class="footer-block w-form">
              <form id="wf-form-Footer-Newsletter" name="wf-form-Footer-Newsletter" data-name="Footer Newsletter" method="get" class="footer-form-grid" data-wf-page-id="68e22fae932bc475029cc993" data-wf-element-id="56ecd3f0-d926-0471-a6ba-2078a770b17c">
                <div id="w-node-_56ecd3f0-d926-0471-a6ba-2078a770b17d-a770b17b">
                  <div class="subheading-large">Join The Muirhead Newsletter</div>
                  <div class="text-block-4">Industry news, offers and new product launches direct to your inbox.</div>
                </div>
                <div class="form-space">
                  <div class="footer-instructor-form">
                    <div class="form-icon-wrapper">
                      <div class="form-icon">
                        <div class="icon-small w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20" fill="none">
                            <path d="M2.50008 2.5H17.5001C17.9603 2.5 18.3334 2.8731 18.3334 3.33333V16.6667C18.3334 17.1269 17.9603 17.5 17.5001 17.5H2.50008C2.03985 17.5 1.66675 17.1269 1.66675 16.6667V3.33333C1.66675 2.8731 2.03985 2.5 2.50008 2.5ZM16.6667 6.0316L10.0599 11.9483L3.33341 6.01328V15.8333H16.6667V6.0316ZM3.75963 4.16667L10.0517 9.71833L16.2509 4.16667H3.75963Z" fill="#393837"></path>
                          </svg></div>
                      </div><input class="form-text-field-large w-input" maxlength="256" name="Footer-Newsletter" data-name="Footer Newsletter" placeholder="Enter your email" type="text" id="Footer-Newsletter">
                    </div>
                    <a href="#" class="button-primary-large w-button">Join</a>
                  </div><label class="w-checkbox checkbox-field"><input type="checkbox" name="checkbox" id="checkbox" data-name="Checkbox" class="w-checkbox-input checkbox"><span class="w-form-label" for="checkbox">I have read and agree to the <a href="#" class="privacy-link">Privacy Policy</a>.</span></label>
                </div>
              </form>
              <div class="form-success-message w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="form-error-message w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
            <div class="w-layout-grid footer-grid-large">
              <div class="column-x-large">
                <div class="subheading-large">
{{ section.settings.text_sectors_title }}
</div>
                {% for link in linklists['sectors'].links %}    <div li-for="link in linklists['sectors'].links" class="column-regular">
                                    
                  
                            <a href="{{ link.url }}" li-object:href="link.url" class="footer-link-2 w-inline-block">
                    <div li-object="link.title">{{ link.title }}</div>
                    <div class="icon-small-3 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20" fill="none">
                        <path d="M10.9761 10.0006L6.85132 5.87577L8.02983 4.69727L13.3332 10.0006L8.02983 15.3038L6.85132 14.1253L10.9761 10.0006Z" fill="currentColor"></path>
                      </svg></div>
                  </a>
                            
                
                        </div>
{% endfor %}
              </div>
              <div class="column-x-large">
                <div class="subheading-large">
{{ section.settings.text_about_title }}
</div>
                {% for link in linklists['about'].links %}    <div li-for="link in linklists['about'].links" class="column-regular">
                                    
                  
                            <a href="{{ link.url }}" li-object:href="link.url" class="footer-link-2 w-inline-block">
                    <div li-object="link.title">{{ link.title }}</div>
                    <div class="icon-small-3 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20" fill="none">
                        <path d="M10.9761 10.0006L6.85132 5.87577L8.02983 4.69727L13.3332 10.0006L8.02983 15.3038L6.85132 14.1253L10.9761 10.0006Z" fill="currentColor"></path>
                      </svg></div>
                  </a>
                            
                
                        </div>
{% endfor %}
              </div>
              <div class="column-x-large">
                <div class="subheading-large">
{{ section.settings.text_our_expertise_text }}
</div>
                {% for link in linklists['our-expertise'].links %}    <div li-for="link in linklists['our-expertise'].links" class="column-regular">
                                    
                  
                            <a href="{{ link.url }}" li-object:href="link.url" class="footer-link-2 w-inline-block">
                    <div li-object="link.title">{{ link.title }}</div>
                    <div class="icon-small-3 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20" fill="none">
                        <path d="M10.9761 10.0006L6.85132 5.87577L8.02983 4.69727L13.3332 10.0006L8.02983 15.3038L6.85132 14.1253L10.9761 10.0006Z" fill="currentColor"></path>
                      </svg></div>
                  </a>
                            
                
                        </div>
{% endfor %}
              </div>
              <div class="column-x-large">
                <div class="subheading-large">
{{ section.settings.text_sustainability_title }}
</div>
                {% for link in linklists['sustainability'].links %}    <div li-for="link in linklists['sustainability'].links" class="column-regular">
                                    
                  
                            <a href="{{ link.url }}" li-object:href="link.url" class="footer-link-2 w-inline-block">
                    <div li-object="link.title">{{ link.title }}</div>
                    <div class="icon-small-3 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20" fill="none">
                        <path d="M10.9761 10.0006L6.85132 5.87577L8.02983 4.69727L13.3332 10.0006L8.02983 15.3038L6.85132 14.1253L10.9761 10.0006Z" fill="currentColor"></path>
                      </svg></div>
                  </a>
                            
                
                        </div>
{% endfor %}
              </div>
              <div class="column-x-large">
                <div class="subheading-large">
{{ section.settings.text_shop_title }}
</div>
                {% for link in linklists['shop'].links %}    <div li-for="link in linklists['shop'].links" class="column-regular">
                                    
                  
                            <a href="{{ link.url }}" li-object:href="link.url" class="footer-link-2 w-inline-block">
                    <div li-object="link.title">{{ link.title }}</div>
                    <div class="icon-small-3 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20" fill="none">
                        <path d="M10.9761 10.0006L6.85132 5.87577L8.02983 4.69727L13.3332 10.0006L8.02983 15.3038L6.85132 14.1253L10.9761 10.0006Z" fill="currentColor"></path>
                      </svg></div>
                  </a>
                            
                
                        </div>
{% endfor %}
              </div>
            </div>
            <div class="footer-detail-row">
              <div class="footer-row">
                <a href="{{ routes.root_url }}" li-object:href="routes.root_url" class="footer_logo-link w-inline-block">{% if section.settings.image_logo %}
{{ section.settings.image_logo | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'footer_logo' }}
{% else %}
<img src="{{ 'liquify-logo-white.svg' | asset_url }}" loading="lazy" alt="" class="footer_logo">
{% endif %}</a>
                <div class="footer-detail-divider"></div>
                <a href="https://www.scottishleathergroup.com/" target="_blank" class="part-of-div w-inline-block">
                  <p class="partof">Part of</p><img loading="lazy" src="{{ 'SLG-Logo-White.svg' | asset_url }}" alt="" class="slg-logo-footer">
                </a>
              </div>
              <div class="footer-buttons">
                <div class="w-layout-grid social-grid">
                  <a href="https://www.facebook.com/MuirheadLeather/" target="_blank" class="social-icon-square w-inline-block">
                    <div bind="21c81a1c-e723-113d-faa9-d548f5db7471" class="social-logo w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 13.5H16.5L17.5 9.5H14V7.5C14 6.47 14 5.5 16 5.5H17.5V2.14C17.174 2.097 15.943 2 14.643 2C11.928 2 10 3.657 10 6.7V9.5H7V13.5H10V22H14V13.5Z" fill="currentColor"></path>
                      </svg></div>
                  </a>
                  <a href="https://x.com/MuirheadLeather" target="_blank" class="social-icon-square w-inline-block">
                    <div bind="21c81a1c-e723-113d-faa9-d548f5db7473" class="social-logo w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewbox="0 0 24 25" fill="none">
                        <path d="M17.1761 4.57605H19.9362L13.9061 11.3534L21 20.576H15.4456L11.0951 14.9826L6.11723 20.576H3.35544L9.80517 13.3268L3 4.57605H8.69545L12.6279 9.68867L17.1761 4.57605ZM16.2073 18.9515H17.7368L7.86441 6.11533H6.2232L16.2073 18.9515Z" fill="currentColor"></path>
                      </svg></div>
                  </a>
                  <a href="https://www.instagram.com/muirheadleather/" target="_blank" class="social-icon-square w-inline-block">
                    <div bind="21c81a1c-e723-113d-faa9-d548f5db7473" class="social-logo w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewbox="0 0 24 25" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3.57605H8C5.23858 3.57605 3 5.81463 3 8.57605V16.576C3 19.3375 5.23858 21.576 8 21.576H16C18.7614 21.576 21 19.3375 21 16.576V8.57605C21 5.81463 18.7614 3.57605 16 3.57605ZM19.25 16.576C19.2445 18.3686 17.7926 19.8205 16 19.826H8C6.20735 19.8205 4.75549 18.3686 4.75 16.576V8.57605C4.75549 6.7834 6.20735 5.33154 8 5.32605H16C17.7926 5.33154 19.2445 6.7834 19.25 8.57605V16.576ZM16.75 8.82605C17.3023 8.82605 17.75 8.37833 17.75 7.82605C17.75 7.27377 17.3023 6.82605 16.75 6.82605C16.1977 6.82605 15.75 7.27377 15.75 7.82605C15.75 8.37833 16.1977 8.82605 16.75 8.82605ZM12 8.07605C9.51472 8.07605 7.5 10.0908 7.5 12.576C7.5 15.0613 9.51472 17.076 12 17.076C14.4853 17.076 16.5 15.0613 16.5 12.576C16.5027 11.3817 16.0294 10.2356 15.1849 9.39113C14.3404 8.54664 13.1943 8.07339 12 8.07605ZM9.25 12.576C9.25 14.0948 10.4812 15.326 12 15.326C13.5188 15.326 14.75 14.0948 14.75 12.576C14.75 11.0573 13.5188 9.82605 12 9.82605C10.4812 9.82605 9.25 11.0573 9.25 12.576Z" fill="currentColor"></path>
                      </svg></div>
                  </a>
                  <a id="w-node-_9612f0a7-5eb3-1f21-0f6a-2404126d8d98-99a7328f" href="https://www.linkedin.com/company/andrew-muirhead-&-son-limited" target="_blank" class="social-icon-square w-inline-block">
                    <div bind="21c81a1c-e723-113d-faa9-d548f5db7473" class="social-logo w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.94043 5.00002C6.94016 5.53046 6.7292 6.03906 6.35394 6.41394C5.97868 6.78883 5.46986 6.99929 4.93943 6.99902C4.409 6.99876 3.90039 6.78779 3.52551 6.41253C3.15062 6.03727 2.94016 5.52846 2.94043 4.99802C2.9407 4.46759 3.15166 3.95899 3.52692 3.5841C3.90218 3.20922 4.411 2.99876 4.94143 2.99902C5.47186 2.99929 5.98047 3.21026 6.35535 3.58552C6.73024 3.96078 6.9407 4.46959 6.94043 5.00002V5.00002ZM7.00043 8.48002H3.00043V21H7.00043V8.48002ZM13.3204 8.48002H9.34043V21H13.2804V14.43C13.2804 10.77 18.0504 10.43 18.0504 14.43V21H22.0004V13.07C22.0004 6.90002 14.9404 7.13002 13.2804 10.16L13.3204 8.48002V8.48002Z" fill="currentColor"></path>
                      </svg></div>
                  </a>
                  <a href="https://www.youtube.com/channel/UC79bxABmrFgSLv8QtQSIfFw/featured" target="_blank" class="social-icon-square w-inline-block">
                    <div bind="21c81a1c-e723-113d-faa9-d548f5db7473" class="social-logo w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewbox="0 0 24 25" fill="none">
                        <path d="M21.5928 7.53638C21.4789 7.11378 21.2563 6.72839 20.9472 6.41855C20.6381 6.10871 20.2532 5.88524 19.8308 5.77038C18.2648 5.34038 11.9998 5.33338 11.9998 5.33338C11.9998 5.33338 5.73584 5.32638 4.16884 5.73738C3.74677 5.85753 3.36266 6.08416 3.05341 6.39552C2.74415 6.70687 2.52013 7.0925 2.40284 7.51538C1.98984 9.08138 1.98584 12.3294 1.98584 12.3294C1.98584 12.3294 1.98184 15.5934 2.39184 17.1434C2.62184 18.0004 3.29684 18.6774 4.15484 18.9084C5.73684 19.3384 11.9848 19.3454 11.9848 19.3454C11.9848 19.3454 18.2498 19.3524 19.8158 18.9424C20.2383 18.8277 20.6236 18.6048 20.9335 18.2956C21.2434 17.9864 21.4672 17.6016 21.5828 17.1794C21.9968 15.6144 21.9998 12.3674 21.9998 12.3674C21.9998 12.3674 22.0198 9.10238 21.5928 7.53638ZM9.99584 15.3384L10.0008 9.33838L15.2078 12.3434L9.99584 15.3384Z" fill="currentColor"></path>
                      </svg></div>
                  </a>
                </div>
              </div>
            </div>
            <div class="footer-legal-row">
              <div class="text-color-gray-600 w-embed w-script">Copyright © 
                <script>document.write(new Date().getFullYear());</script> Muirhead
              </div>
              {% for link in linklists['small-footer-links'].links %}    <div li-for="link in linklists['small-footer-links'].links" class="footer-legal-links">
                                    
                
                            <div li-object="link.title" class="footer-legal-link">{{ link.title }}</div>
                            
              
                        </div>
{% endfor %}
            </div>
          </div>
        </div> {% schema %} {
    "tag": "footer",
    "name": "Footer",
    "class": "section_footer",
    "settings": [
        {
            "id": "text_sectors_title",
            "type": "text",
            "label": "Sectors Title",
            "default": "Sectors"
        },
        {
            "id": "text_about_title",
            "type": "text",
            "label": "About Title",
            "default": "About"
        },
        {
            "id": "text_our_expertise_text",
            "type": "text",
            "label": "Our Expertise Text",
            "default": "Our Expertise"
        },
        {
            "id": "text_sustainability_title",
            "type": "text",
            "label": "Sustainability Title",
            "default": "Sustainability"
        },
        {
            "id": "text_shop_title",
            "type": "text",
            "label": "Shop Title",
            "default": "Shop"
        },
        {
            "id": "image_logo",
            "type": "image_picker",
            "label": "Logo"
        },
        {
            "type": "text",
            "id": "placeholder_text",
            "label": "Placeholder Text",
            "default": "Email address"
        },
        {
            "type": "header",
            "content": "Navigation"
        },
        {
            "type": "link_list",
            "id": "footer_menu",
            "label": "Footer Menu",
            "default": "footer"
        }
    ],
    "presets": [
        {
            "name": "Footer",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "groups": [
            "*"
        ]
    }
} {% endschema %}