<div class="padding-global padding-section-small">
          <div class="container-large">
            <div class="footer-block w-form">
              <form id="wf-form-Footer-Newsletter" name="wf-form-Footer-Newsletter" data-name="Footer Newsletter" method="get" class="footer-form-grid" data-wf-page-id="68e22fae932bc475029cc993" data-wf-element-id="56ecd3f0-d926-0471-a6ba-2078a770b17c">
                <div id="w-node-_56ecd3f0-d926-0471-a6ba-2078a770b17d-a770b17b">
                  <div class="subheading-large">Join The Muirhead Newsletter</div>
                  <div class="text-block-4">Industry news, offers and new product launches direct to your inbox.</div>
                </div>
                <div class="form-space">
                  <div class="footer-instructor-form">
                    <div class="form-icon-wrapper">
                      <div class="form-icon">
                        <div class="icon-small w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20" fill="none">
                            <path d="M2.50008 2.5H17.5001C17.9603 2.5 18.3334 2.8731 18.3334 3.33333V16.6667C18.3334 17.1269 17.9603 17.5 17.5001 17.5H2.50008C2.03985 17.5 1.66675 17.1269 1.66675 16.6667V3.33333C1.66675 2.8731 2.03985 2.5 2.50008 2.5ZM16.6667 6.0316L10.0599 11.9483L3.33341 6.01328V15.8333H16.6667V6.0316ZM3.75963 4.16667L10.0517 9.71833L16.2509 4.16667H3.75963Z" fill="#393837"></path>
                          </svg></div>
                      </div><input class="form-text-field-large w-input" maxlength="256" name="Footer-Newsletter" data-name="Footer Newsletter" placeholder="Enter your email" type="text" id="Footer-Newsletter">
                    </div>
                    <a href="#" class="button-primary-large w-button">Join</a>
                  </div><label class="w-checkbox checkbox-field"><input type="checkbox" name="checkbox" id="checkbox" data-name="Checkbox" class="w-checkbox-input checkbox"><span class="w-form-label" for="checkbox">I have read and agree to the <a href="#" class="privacy-link">Privacy Policy</a>.</span></label>
                </div>
              </form>
              <div class="form-success-message w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="form-error-message w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
            <div class="w-layout-grid footer-grid-large">
              <div class="column-x-large">
                <div class="subheading-large">
{{ section.settings.text_sectors_title }}
</div>
                {% for link in linklists['sectors'].links %}    <div li-for="link in linklists['sectors'].links" class="column-regular">
                                    
                  
                            <a href="{{ link.url }}" li-object:href="link.url" class="footer-link-2 w-inline-block">
                    <div li-object="link.title">{{ link.title }}</div>
                    <div class="icon-small-3 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20" fill="none">
                        <path d="M10.9761 10.0006L6.85132 5.87577L8.02983 4.69727L13.3332 10.0006L8.02983 15.3038L6.85132 14.1253L10.9761 10.0006Z" fill="currentColor"></path>
                      </svg></div>
                  </a>
                            
                
                        </div>
{% endfor %}
              </div>
              <div class="column-x-large">
                <div class="subheading-large">
{{ section.settings.text_about_title }}
</div>
                {% for link in linklists['about'].links %}    <div li-for="link in linklists['about'].links" class="column-regular">
                                    
                  
                            <a href="{{ link.url }}" li-object:href="link.url" class="footer-link-2 w-inline-block">
                    <div li-object="link.title">{{ link.title }}</div>
                    <div class="icon-small-3 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20" fill="none">
                        <path d="M10.9761 10.0006L6.85132 5.87577L8.02983 4.69727L13.3332 10.0006L8.02983 15.3038L6.85132 14.1253L10.9761 10.0006Z" fill="currentColor"></path>
                      </svg></div>
                  </a>
                            
                
                        </div>
{% endfor %}
              </div>
              <div class="column-x-large">
                <div class="subheading-large">
{{ section.settings.text_our_expertise_text }}
</div>
                {% for link in linklists['our-expertise'].links %}    <div li-for="link in linklists['our-expertise'].links" class="column-regular">
                                    
                  
                            <a href="{{ link.url }}" li-object:href="link.url" class="footer-link-2 w-inline-block">
                    <div li-object="link.title">{{ link.title }}</div>
                    <div class="icon-small-3 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20" fill="none">
                        <path d="M10.9761 10.0006L6.85132 5.87577L8.02983 4.69727L13.3332 10.0006L8.02983 15.3038L6.85132 14.1253L10.9761 10.0006Z" fill="currentColor"></path>
                      </svg></div>
                  </a>
                            
                
                        </div>
{% endfor %}
              </div>
              <div class="column-x-large">
                <div class="subheading-large">
{{ section.settings.text_sustainability_title }}
</div>
                {% for link in linklists['sustainability'].links %}    <div li-for="link in linklists['sustainability'].links" class="column-regular">
                                    
                  
                            <a href="{{ link.url }}" li-object:href="link.url" class="footer-link-2 w-inline-block">
                    <div li-object="link.title">{{ link.title }}</div>
                    <div class="icon-small-3 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20" fill="none">
                        <path d="M10.9761 10.0006L6.85132 5.87577L8.02983 4.69727L13.3332 10.0006L8.02983 15.3038L6.85132 14.1253L10.9761 10.0006Z" fill="currentColor"></path>
                      </svg></div>
                  </a>
                            
                
                        </div>
{% endfor %}
              </div>
              <div class="column-x-large">
                <div class="subheading-large">
{{ section.settings.text_shop_title }}
</div>
                {% for link in linklists['shop'].links %}    <div li-for="link in linklists['shop'].links" class="column-regular">
                                    
                  
                            <a href="{{ link.url }}" li-object:href="link.url" class="footer-link-2 w-inline-block">
                    <div li-object="link.title">{{ link.title }}</div>
                    <div class="icon-small-3 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20" fill="none">
                        <path d="M10.9761 10.0006L6.85132 5.87577L8.02983 4.69727L13.3332 10.0006L8.02983 15.3038L6.85132 14.1253L10.9761 10.0006Z" fill="currentColor"></path>
                      </svg></div>
                  </a>
                            
                
                        </div>
{% endfor %}
              </div>
            </div>
            <div class="footer-detail-row">
              <div class="footer-row">
                <a href="{{ routes.root_url }}" li-object:href="routes.root_url" class="footer_logo-link w-inline-block">{% if section.settings.image_logo %}
{{ section.settings.image_logo | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'footer_logo' }}
{% else %}
<img src="{{ 'liquify-logo-white.svg' | asset_url }}" loading="lazy" alt="" class="footer_logo">
{% endif %}</a>
                <div class="footer-detail-divider"></div>
                <a href="https://www.scottishleathergroup.com/" target="_blank" class="part-of-div w-inline-block">
                  <p class="partof">Part of</p><img loading="lazy" src="{{ 'SLG-Logo-White.svg' | asset_url }}" alt="" class="slg-logo-footer">
                </a>
              </div>
              <div class="footer-buttons">
                <div class="w-layout-grid social-grid">
                  {% for block in section.blocks %}
    {% if block.type == "social-icons" %}
                    <div li-block="Social Icons">
                                    
                    
                                    <a href="{{ block.settings.url_link }}" target="_blank" class="social-icon-square-2 w-inline-block"> {% if block.settings.image_social_logo %} {{ block.settings.image_social_logo | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'social-logo' }} {% else %} <img loading="lazy" alt="" src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" class="social-logo"> {% endif %} </a>
                                    
                  
                            </div>
            {% endif %}
{% endfor %}
                </div>
              </div>
            </div>
            <div class="footer-legal-row">
              <div class="footer-legal-link w-embed w-script">Copyright © 
                <script>document.write(new Date().getFullYear());</script> Muirhead
              </div>
              {% for link in linklists['small-footer-links'].links %}    <div li-for="link in linklists['small-footer-links'].links" class="footer-legal-links">
                                    
                
                            <div li-object="link.title" class="footer-legal-link">{{ link.title }}</div>
                            
              
                        </div>
{% endfor %}
            </div>
          </div>
        </div> {% schema %} {
    "tag": "footer",
    "name": "Footer",
    "class": "section_footer",
    "blocks": [
        {
            "name": "Social Icons",
            "type": "social-icons",
            "settings": [
                {
                    "id": "url_link",
                    "type": "url",
                    "label": "Link"
                },
                {
                    "id": "image_social_logo",
                    "type": "image_picker",
                    "label": "Social Logo"
                }
            ]
        }
    ],
    "settings": [
        {
            "id": "text_sectors_title",
            "type": "text",
            "label": "Sectors Title",
            "default": "Sectors"
        },
        {
            "id": "text_about_title",
            "type": "text",
            "label": "About Title",
            "default": "About"
        },
        {
            "id": "text_our_expertise_text",
            "type": "text",
            "label": "Our Expertise Text",
            "default": "Our Expertise"
        },
        {
            "id": "text_sustainability_title",
            "type": "text",
            "label": "Sustainability Title",
            "default": "Sustainability"
        },
        {
            "id": "text_shop_title",
            "type": "text",
            "label": "Shop Title",
            "default": "Shop"
        },
        {
            "id": "image_logo",
            "type": "image_picker",
            "label": "Logo"
        },
        {
            "type": "text",
            "id": "placeholder_text",
            "label": "Placeholder Text",
            "default": "Email address"
        },
        {
            "type": "header",
            "content": "Navigation"
        },
        {
            "type": "link_list",
            "id": "footer_menu",
            "label": "Footer Menu",
            "default": "footer"
        }
    ],
    "presets": [
        {
            "name": "Footer",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "social-icons"
                }
            ]
        }
    ],
    "enabled_on": {
        "groups": [
            "*"
        ]
    }
} {% endschema %}