<div class="header_background-image-wrapper">
          {% if section.settings.checkbox_overlay == true %}
<div class="header_overlay-layer"></div>{% endif %}
          <div data-image="desktop" class="hero_bg-image-wrap z-index-1">{% if section.settings.image_desktop_image %}
{{ section.settings.image_desktop_image | image_url: width: 1920 | image_tag: loading: 'eager', class: 'header_background-image' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'header_background-image' }} 
{% endif %}</div>
          {% unless section.settings.image_mobile_image == blank %}    <div data-image="mobile" li-unless="section.settings.image_mobile_image == blank" class="hero_bg-image-wrap z-index-2 hide-unless-mobile-portrait">
    {% if section.settings.image_mobile_image %}
{{ section.settings.image_mobile_image | image_url: width: 1000 | image_tag: loading: 'eager', class: 'header_background-image' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'header_background-image' }} 
{% endif %}    </div>
{% endunless %}
        </div>
        <div class="padding-global">
          <div class="container-large">
            <div class="header_card">
              <div li-content-for-theme-blocks="" style="--text-color--text-primary: {{ section.settings.text_color }}" class="hero1_content">
{% content_for 'blocks' %}
</div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Hero 1",
    "class": "section_hero1",
    "blocks": [
        {
            "type": "stars"
        },
        {
            "type": "heading-h1"
        },
        {
            "type": "text"
        },
        {
            "type": "button-group"
        },
        {
            "type": "button-primary"
        },
        {
            "type": "button-secondary"
        },
        {
            "type": "button-inverted"
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "id": "checkbox_overlay",
            "type": "checkbox",
            "label": "Overlay",
            "default": true
        },
        {
            "id": "image_desktop_image",
            "type": "image_picker",
            "label": "Desktop Image"
        },
        {
            "id": "image_mobile_image",
            "type": "image_picker",
            "label": "Mobile Image"
        }
    ],
    "presets": [
        {
            "name": "Hero 1",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "stars"
                },
                {
                    "type": "heading-h1"
                },
                {
                    "type": "text"
                },
                {
                    "type": "button-group"
                },
                {
                    "type": "button-primary"
                },
                {
                    "type": "button-secondary"
                },
                {
                    "type": "button-inverted"
                }
            ]
        }
    ]
} {% endschema %}