<div style="background-color: {{ section.settings.background_colour }} !important;">
          <div class="padding-global-6 padding-section-small">
            <div class="container-large">
              <div class="content_grid">
                <div li-content-for-blocks="" class="content_wrapper-2">
{% for block in section.blocks %}
{% case block.type %}
{% when '@app' %}
{% render block %}

                  {% when 'headline-small' %}
            <div li-block="Headline small" class="content_block">
                    
                    
                    <div class="text-size-small-20">
{{ block.settings.text_text }}
</div>
                    
                  
                </div>
                  {% when 'headline' %}
            <div li-block="Headline" class="content_block">
                    
                    
                    <h2>
{{ block.settings.text_headline }}
</h2>
                    
                  
                </div>
                  {% when 'text' %}
            <div li-block="Text" class="content_block">
                    
                    
                    <div> {{ block.settings.richtext_text }} </div>
                    
                  
                </div>
                  {% when 'buttons' %}
            <div li-block="Buttons" class="content_block">
                    
                    
                    <div class="button-group-10">
                      {% if block.settings.url_button_link %}    <div li-if="block.settings.url_button_link" class="content_block">
    
                        <a href="{{ block.settings.url_button_link }}" data-w-id="1c2acbc7-448b-5b0c-8350-cbc453daa36d" class="button-main dark-182 w-inline-block"> <div class="icon-link-3 dark-183"> <div class="clip-2 white-10 dark-190"> <div class="hover-text white-31 dark-185"> <div class="text-size-small-11 white-34 dark-188">{{ block.settings.text_button_text }}</div> </div> <div class="hover-text white-31 dark-185 bottom white-20 dark-187"> <div class="text-size-small-11 white-34 dark-188">{{ block.settings.text_button_text }}</div> </div> </div> <div sym-bind="{"visibility":{"type":"Record","val":{"conditions":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"96595133-de64-782c-bc2b-1a27b5d57cf2"}}}}}" class="icon-link_circle-2 white-22 dark-189"> <div class="clip-2 white-10 dark-190"> <div class="hover-arrow-3 dark-191"><img sym-bind="{"img":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"65b07040-501f-bf3a-2cb4-717461e9b2dd"}}}" src="{{ 'arrow-right-long-line_1.svg' | asset_url }}" alt="" loading="lazy" class="icon-1x1-small-7 white-12 dark-196"></div> <div class="hover-arrow-3 dark-191 left-arrow dark-194"><img sym-bind="{"img":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"65b07040-501f-bf3a-2cb4-717461e9b2dd"}}}" src="{{ 'arrow-right-long-line_1.svg' | asset_url }}" alt="" loading="lazy" class="icon-1x1-small-7 white-12 dark-196"></div> </div> </div> </div> </a>
                          </div>
{% endif %}
                      {% if block.settings.url_button_link_2 %}    <div li-if="block.settings.url_button_link_2" class="content_block">
    
                        <a href="{{ block.settings.url_button_link_2 }}" data-w-id="1c2acbc7-448b-5b0c-8350-cbc453daa37f" class="button-main dark-167 outline w-inline-block"> <div class="icon-link-3 dark-168"> <div class="clip-2 white-10 dark-175"> <div class="hover-text white-31 dark-170"> <div class="text-size-small-11 white-34 dark-173">{{ block.settings.text_button_text_2 }}</div> </div> <div class="hover-text white-31 dark-170 bottom white-20 dark-172"> <div class="text-size-small-11 white-34 dark-173">{{ block.settings.text_button_text_2 }}</div> </div> </div> </div> </a>
                          </div>
{% endif %}
                    </div>
                    
                  
                </div>
                {% endcase %}
{% endfor %}

    </div>
                <div id="w-node-_1c2acbc7-448b-5b0c-8350-cbc453daa35e-53daa35a" class="content_image-wrapper" style="{% if section.settings.grid_position == 'left' %}order: -1;{% endif %}">{% if section.settings.image_image %}
{{ section.settings.image_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'content_image' }}
{% else %}
<img alt="" src="{{ 'image.svg' | asset_url }}" loading="lazy" class="content_image">
{% endif %}</div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Image Text",
    "class": "section_content",
    "blocks": [
        {
            "name": "Headline small",
            "type": "headline-small",
            "settings": [
                {
                    "id": "text_text",
                    "type": "text",
                    "label": "Text",
                    "default": "Small Headline"
                }
            ]
        },
        {
            "name": "Headline",
            "type": "headline",
            "settings": [
                {
                    "id": "text_headline",
                    "type": "text",
                    "label": "Headline",
                    "default": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy."
                }
            ]
        },
        {
            "name": "Text",
            "type": "text",
            "settings": [
                {
                    "id": "richtext_text",
                    "type": "richtext",
                    "label": "Text",
                    "default": "<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.<\/p>"
                }
            ]
        },
        {
            "name": "Buttons",
            "type": "buttons",
            "settings": [
                {
                    "id": "url_button_link",
                    "type": "url",
                    "label": "Button Link"
                },
                {
                    "id": "text_button_text",
                    "type": "text",
                    "label": "Button Text",
                    "default": "Learn More"
                },
                {
                    "id": "url_button_link_2",
                    "type": "url",
                    "label": "Button Link 2"
                },
                {
                    "id": "text_button_text_2",
                    "type": "text",
                    "label": "Button Text 2",
                    "default": "Learn More"
                }
            ]
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        },
        {
            "type": "header",
            "content": "grid-position"
        },
        {
            "type": "select",
            "id": "grid_position",
            "label": "Grid position",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "left"
        },
        {
            "type": "header",
            "content": "background-colour"
        },
        {
            "type": "color",
            "id": "background_colour",
            "label": "Background Colour",
            "default": "#ffffff"
        }
    ],
    "presets": [
        {
            "name": "Image Text",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "headline-small"
                },
                {
                    "type": "headline"
                },
                {
                    "type": "text"
                },
                {
                    "type": "buttons"
                }
            ]
        }
    ]
} {% endschema %}