<div class="imagescrollersection _2rem-padding-top-bottom flip">
          <a href="{{ section.settings.url_button_link }}" class="header77_content-right-2 w-inline-block"> <div data-w-id="e5f6359a-6708-98b0-bf07-12663997cbfa" class="layout414_content-bottom"> <div class="layout414_image-list image-list-top"> <div id="w-node-e5f6359a-6708-98b0-bf07-12663997cbfc-029cc97b" class="layout414_image-wrapper-2">{% if section.settings.image_top_1 %} {{ section.settings.image_top_1 | image_url: width: 1000 | image_tag: class: 'layout414_image', sizes: '(max-width: 1520px) 100vw, 1520px', id: 'w-node-e5f6359a-6708-98b0-bf07-12663997cbfd-029cc97b', loading: 'lazy' }} {% else %} <img class="layout414_image" src="{{ 'seat_cover_hero_batik.webp' | asset_url }}" alt="" sizes="(max-width: 1520px) 100vw, 1520px" id="w-node-e5f6359a-6708-98b0-bf07-12663997cbfd-029cc97b" loading="lazy" srcset="{{ 'seat_cover_hero_batik-p-500.webp' | asset_url }} 500w, {{ 'seat_cover_hero_batik-p-800.webp' | asset_url }} 800w, {{ 'seat_cover_hero_batik-p-1080.webp' | asset_url }} 1080w, {{ 'seat_cover_hero_batik.webp' | asset_url }} 1520w"> {% endif %}</div> <div id="w-node-e5f6359a-6708-98b0-bf07-12663997cbfe-029cc97b" class="layout414_image-wrapper-2">{% if section.settings.image_top_2 %} {{ section.settings.image_top_2 | image_url: width: 1000 | image_tag: class: 'layout414_image', sizes: '(max-width: 1005px) 100vw, 1005px', id: 'w-node-e5f6359a-6708-98b0-bf07-12663997cbff-029cc97b', loading: 'lazy' }} {% else %} <img class="layout414_image" src="{{ 'seat_cover_streamlined_process.webp' | asset_url }}" alt="" sizes="(max-width: 1005px) 100vw, 1005px" id="w-node-e5f6359a-6708-98b0-bf07-12663997cbff-029cc97b" loading="lazy" srcset="{{ 'seat_cover_streamlined_process-p-500.webp' | asset_url }} 500w, {{ 'seat_cover_streamlined_process-p-800.webp' | asset_url }} 800w, {{ 'seat_cover_streamlined_process.webp' | asset_url }} 1005w"> {% endif %}</div> <div id="w-node-e5f6359a-6708-98b0-bf07-12663997cc00-029cc97b" class="layout414_image-wrapper-2">{% if section.settings.image_top_3 %} {{ section.settings.image_top_3 | image_url: width: 1000 | image_tag: class: 'layout414_image', sizes: '(max-width: 1005px) 100vw, 1005px', id: 'w-node-e5f6359a-6708-98b0-bf07-12663997cc01-029cc97b', loading: 'lazy' }} {% else %} <img class="layout414_image" src="{{ 'seat_cover_leather_expertise.webp' | asset_url }}" alt="" sizes="(max-width: 1005px) 100vw, 1005px" id="w-node-e5f6359a-6708-98b0-bf07-12663997cc01-029cc97b" loading="lazy" srcset="{{ 'seat_cover_leather_expertise-p-500.webp' | asset_url }} 500w, {{ 'seat_cover_leather_expertise-p-800.webp' | asset_url }} 800w, {{ 'seat_cover_leather_expertise.webp' | asset_url }} 1005w"> {% endif %}</div> <div id="w-node-e5f6359a-6708-98b0-bf07-12663997cc02-029cc97b" class="layout414_image-wrapper-2">{% if section.settings.image_top_4 %} {{ section.settings.image_top_4 | image_url: width: 1000 | image_tag: id: 'w-node-e5f6359a-6708-98b0-bf07-12663997cc03-029cc97b', loading: 'lazy', class: 'layout414_image' }} {% else %} <img id="w-node-e5f6359a-6708-98b0-bf07-12663997cc03-029cc97b" alt="" loading="lazy" src="{{ '6191a88a1c0e39463c2bf022_placeholder-image.svg' | asset_url }}" class="layout414_image"> {% endif %}</div> </div> <div class="layout414_image-list image-list-bottom"> <div id="w-node-e5f6359a-6708-98b0-bf07-12663997cc05-029cc97b" class="layout414_image-wrapper-2">{% if section.settings.image_bottom_1 %} {{ section.settings.image_bottom_1 | image_url: width: 1000 | image_tag: id: 'w-node-e5f6359a-6708-98b0-bf07-12663997cc06-029cc97b', loading: 'lazy', class: 'layout414_image' }} {% else %} <img id="w-node-e5f6359a-6708-98b0-bf07-12663997cc06-029cc97b" alt="" loading="lazy" src="" class="layout414_image"> {% endif %}</div> <div id="w-node-e5f6359a-6708-98b0-bf07-12663997cc07-029cc97b" class="layout414_image-wrapper-2">{% if section.settings.image_bottom_2 %} {{ section.settings.image_bottom_2 | image_url: width: 1000 | image_tag: class: 'layout414_image', sizes: '(max-width: 1005px) 100vw, 1005px', id: 'w-node-e5f6359a-6708-98b0-bf07-12663997cc08-029cc97b', loading: 'lazy' }} {% else %} <img class="layout414_image" src="{{ 'seat_cover_cutting_edge_machineryjpg.webp' | asset_url }}" alt="" sizes="(max-width: 1005px) 100vw, 1005px" id="w-node-e5f6359a-6708-98b0-bf07-12663997cc08-029cc97b" loading="lazy" srcset="{{ 'seat_cover_cutting_edge_machineryjpg-p-500.webp' | asset_url }} 500w, {{ 'seat_cover_cutting_edge_machineryjpg-p-800.webp' | asset_url }} 800w, {{ 'seat_cover_cutting_edge_machineryjpg.webp' | asset_url }} 1005w"> {% endif %}</div> <div id="w-node-e5f6359a-6708-98b0-bf07-12663997cc09-029cc97b" class="layout414_image-wrapper-2">{% if section.settings.image_bottom_3 %} {{ section.settings.image_bottom_3 | image_url: width: 1000 | image_tag: class: 'layout414_image', sizes: '(max-width: 1005px) 100vw, 1005px', id: 'w-node-e5f6359a-6708-98b0-bf07-12663997cc0a-029cc97b', loading: 'lazy' }} {% else %} <img class="layout414_image" src="{{ 'Seats.webp' | asset_url }}" alt="" sizes="(max-width: 1005px) 100vw, 1005px" id="w-node-e5f6359a-6708-98b0-bf07-12663997cc0a-029cc97b" loading="lazy" srcset="{{ 'Seats-p-500.webp' | asset_url }} 500w, {{ 'Seats-p-800.webp' | asset_url }} 800w, {{ 'Seats.webp' | asset_url }} 1005w"> {% endif %}</div> <div id="w-node-e5f6359a-6708-98b0-bf07-12663997cc0b-029cc97b" class="layout414_image-wrapper-2">{% if section.settings.image_bottom_4 %} {{ section.settings.image_bottom_4 | image_url: width: 1000 | image_tag: id: 'w-node-e5f6359a-6708-98b0-bf07-12663997cc0c-029cc97b', loading: 'lazy', class: 'layout414_image' }} {% else %} <img id="w-node-e5f6359a-6708-98b0-bf07-12663997cc0c-029cc97b" alt="" loading="lazy" src="" class="layout414_image"> {% endif %}</div> </div> </div> </a>
          <div class="textcontainer">
            <div class="div-block-758">
              <div id="w-node-e5f6359a-6708-98b0-bf07-12663997cbd2-029cc97b" class="header38_content">
                <div class="margin-bottom margin-small">
                  <div>
{{ section.settings.text_pre_heading }}
</div>
                  <h2>
{{ section.settings.text_heading }}
</h2>
                </div>
                <div class="rich-text-block w-richtext"> {{ section.settings.richtext_content }} </div>
                <div class="margin-top margin-medium">
                  <div class="button-group-3">
                    <a href="{{ section.settings.url_button_link }}" class="button-main dark-152 w-inline-block"> <div class="icon-link-3 dark-153"> <div class="clip-2 white-10 dark-160"> <div class="hover-text white-31 dark-155"> <div class="text-size-small-11 white-34 dark-158">{{ section.settings.text_button_text }}</div> </div> <div class="hover-text white-31 dark-155 bottom white-20 dark-157"> <div class="text-size-small-11 white-34 dark-158">{{ section.settings.text_button_text }}</div> </div> </div> <div sym-bind="{"visibility":{"type":"Record","val":{"conditions":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"96595133-de64-782c-bc2b-1a27b5d57cf2"}}}}}" class="icon-link_circle-2 white-22 dark-159"> <div class="clip-2 white-10 dark-160"> <div class="hover-arrow-3 dark-161"><img sym-bind="{"img":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"65b07040-501f-bf3a-2cb4-717461e9b2dd"}}}" loading="lazy" alt="" src="{{ 'arrow-right-long-line_1.svg' | asset_url }}" class="icon-1x1-small-7 white-12 dark-166"></div> <div class="hover-arrow-3 dark-161 left-arrow dark-164"><img sym-bind="{"img":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"65b07040-501f-bf3a-2cb4-717461e9b2dd"}}}" loading="lazy" alt="" src="{{ 'arrow-right-long-line_1.svg' | asset_url }}" class="icon-1x1-small-7 white-12 dark-166"></div> </div> </div> </div> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "header",
    "name": "Image Scroller (Left",
    "settings": [
        {
            "id": "url_button_link",
            "type": "url",
            "label": "Button Link"
        },
        {
            "id": "image_top_1",
            "type": "image_picker",
            "label": "Top 1"
        },
        {
            "id": "image_top_2",
            "type": "image_picker",
            "label": "Top 2"
        },
        {
            "id": "image_top_3",
            "type": "image_picker",
            "label": "Top 3"
        },
        {
            "id": "image_top_4",
            "type": "image_picker",
            "label": "Top 4"
        },
        {
            "id": "image_bottom_1",
            "type": "image_picker",
            "label": "Bottom 1"
        },
        {
            "id": "image_bottom_2",
            "type": "image_picker",
            "label": "Bottom 2"
        },
        {
            "id": "image_bottom_3",
            "type": "image_picker",
            "label": "Bottom 3"
        },
        {
            "id": "image_bottom_4",
            "type": "image_picker",
            "label": "Bottom 4"
        },
        {
            "id": "text_pre_heading",
            "type": "text",
            "label": "Pre Heading",
            "default": "Muirhead Seat Cover Service:"
        },
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Muirhead Seat Cover Service"
        },
        {
            "id": "richtext_content",
            "type": "richtext",
            "label": "Content",
            "default": "<p>\n                  As the world\u2019s most trusted leather supplier for aviation and rail, we bring unparalleled expertise in crafting durable, high-quality leather seat covers. \n                  Most manufacturers today are optimised for fabric and synthetic materials. \n                  \u200d\n                  However, leather requires specialised processes to achieve the highest standards in production, performance, lead times and cost efficiency. \n                  \u200d\n     <\/p>"
        },
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Learn More"
        }
    ],
    "presets": [
        {
            "name": "Image Scroller (Left",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}