<div class="imagescrollersection _2rem-padding-top-bottom">
          <div id="w-node-_675c68af-54f6-405f-0723-2c4815c3a142-15c3a140" class="textcontainer">
            <div class="div-block-758">
              <div id="w-node-_675c68af-54f6-405f-0723-2c4815c3a144-15c3a140" class="header38_content">
                <div class="margin-bottom margin-small">
                  <div>
{{ section.settings.text_pre_heading }}
</div>
                  <h2>
{{ section.settings.text_heading }}
</h2>
                </div>
                <div class="rich-text-block w-richtext"> {{ section.settings.richtext_content }} </div>
                <div class="margin-top margin-medium">
                  <div class="button-group-3">
                    <a href="{{ section.settings.url_button_link }}" data-w-id="675c68af-54f6-405f-0723-2c4815c3a15a" class="button-main dark-152 w-inline-block"> <div class="icon-link-3 dark-153"> <div class="clip-2 white-10 dark-160"> <div class="hover-text white-31 dark-155"> <div class="text-size-small-11 white-34 dark-158">{{ section.settings.text_button_text }}</div> </div> <div class="hover-text white-31 dark-155 bottom white-20 dark-157"> <div class="text-size-small-11 white-34 dark-158">{{ section.settings.text_button_text }}</div> </div> </div> <div sym-bind="{"visibility":{"type":"Record","val":{"conditions":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"96595133-de64-782c-bc2b-1a27b5d57cf2"}}}}}" class="icon-link_circle-2 white-22 dark-159"> <div class="clip-2 white-10 dark-160"> <div class="hover-arrow-3 dark-161"><img sym-bind="{"img":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"65b07040-501f-bf3a-2cb4-717461e9b2dd"}}}" src="{{ 'arrow-right-long-line_1.svg' | asset_url }}" alt="" loading="lazy" class="icon-1x1-small-7 white-12 dark-166"></div> <div class="hover-arrow-3 dark-161 left-arrow dark-164"><img sym-bind="{"img":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"65b07040-501f-bf3a-2cb4-717461e9b2dd"}}}" src="{{ 'arrow-right-long-line_1.svg' | asset_url }}" alt="" loading="lazy" class="icon-1x1-small-7 white-12 dark-166"></div> </div> </div> </div> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a href="{{ section.settings.url_button_link }}" class="header77_content-right-2 w-inline-block"> <div data-w-id="675c68af-54f6-405f-0723-2c4815c3a17b" class="layout414_content-bottom"> <div class="layout414_image-list image-list-top"> <div id="w-node-_675c68af-54f6-405f-0723-2c4815c3a17d-15c3a140" class="layout414_image-wrapper-2"><img id="w-node-_675c68af-54f6-405f-0723-2c4815c3a17e-15c3a140" sizes="(max-width: 1520px) 100vw, 1520px" alt="" loading="lazy" src="{{ 'seat_cover_hero_batik.webp' | asset_url }}" srcset="{{ 'seat_cover_hero_batik-p-500.webp' | asset_url }} 500w, {{ 'seat_cover_hero_batik-p-800.webp' | asset_url }} 800w, {{ 'seat_cover_hero_batik-p-1080.webp' | asset_url }} 1080w, {{ 'seat_cover_hero_batik.webp' | asset_url }} 1520w" class="layout414_image"></div> <div id="w-node-_675c68af-54f6-405f-0723-2c4815c3a17f-15c3a140" class="layout414_image-wrapper-2"><img id="w-node-_675c68af-54f6-405f-0723-2c4815c3a180-15c3a140" sizes="(max-width: 1005px) 100vw, 1005px" alt="" loading="lazy" src="{{ 'seat_cover_streamlined_process.webp' | asset_url }}" srcset="{{ 'seat_cover_streamlined_process-p-500.webp' | asset_url }} 500w, {{ 'seat_cover_streamlined_process-p-800.webp' | asset_url }} 800w, {{ 'seat_cover_streamlined_process.webp' | asset_url }} 1005w" class="layout414_image"></div> <div id="w-node-_675c68af-54f6-405f-0723-2c4815c3a181-15c3a140" class="layout414_image-wrapper-2"><img id="w-node-_675c68af-54f6-405f-0723-2c4815c3a182-15c3a140" sizes="(max-width: 1005px) 100vw, 1005px" alt="" loading="lazy" src="{{ 'seat_cover_leather_expertise.webp' | asset_url }}" srcset="{{ 'seat_cover_leather_expertise-p-500.webp' | asset_url }} 500w, {{ 'seat_cover_leather_expertise-p-800.webp' | asset_url }} 800w, {{ 'seat_cover_leather_expertise.webp' | asset_url }} 1005w" class="layout414_image"></div> <div id="w-node-_675c68af-54f6-405f-0723-2c4815c3a183-15c3a140" class="layout414_image-wrapper-2"><img id="w-node-_675c68af-54f6-405f-0723-2c4815c3a184-15c3a140" src="{{ '6191a88a1c0e39463c2bf022_placeholder-image.svg' | asset_url }}" alt="" loading="lazy" class="layout414_image"></div> </div> <div class="layout414_image-list image-list-bottom"> <div id="w-node-_675c68af-54f6-405f-0723-2c4815c3a186-15c3a140" class="layout414_image-wrapper-2"><img id="w-node-_675c68af-54f6-405f-0723-2c4815c3a187-15c3a140" src="" alt="" loading="lazy" class="layout414_image"></div> <div id="w-node-_675c68af-54f6-405f-0723-2c4815c3a188-15c3a140" class="layout414_image-wrapper-2"><img id="w-node-_675c68af-54f6-405f-0723-2c4815c3a189-15c3a140" sizes="(max-width: 1005px) 100vw, 1005px" alt="" loading="lazy" src="{{ 'seat_cover_cutting_edge_machineryjpg.webp' | asset_url }}" srcset="{{ 'seat_cover_cutting_edge_machineryjpg-p-500.webp' | asset_url }} 500w, {{ 'seat_cover_cutting_edge_machineryjpg-p-800.webp' | asset_url }} 800w, {{ 'seat_cover_cutting_edge_machineryjpg.webp' | asset_url }} 1005w" class="layout414_image"></div> <div id="w-node-_675c68af-54f6-405f-0723-2c4815c3a18a-15c3a140" class="layout414_image-wrapper-2"><img id="w-node-_675c68af-54f6-405f-0723-2c4815c3a18b-15c3a140" sizes="(max-width: 1005px) 100vw, 1005px" alt="" loading="lazy" src="{{ 'Seats.webp' | asset_url }}" srcset="{{ 'Seats-p-500.webp' | asset_url }} 500w, {{ 'Seats-p-800.webp' | asset_url }} 800w, {{ 'Seats.webp' | asset_url }} 1005w" class="layout414_image"></div> <div id="w-node-_675c68af-54f6-405f-0723-2c4815c3a18c-15c3a140" class="layout414_image-wrapper-2"><img id="w-node-_675c68af-54f6-405f-0723-2c4815c3a18d-15c3a140" src="" alt="" loading="lazy" class="layout414_image"></div> </div> </div> </a>
        </div> {% schema %} {
    "tag": "header",
    "name": "Image Scroller",
    "settings": [
        {
            "id": "text_pre_heading",
            "type": "text",
            "label": "Pre Heading",
            "default": "Muirhead Seat Cover Service:"
        },
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Muirhead Seat Cover Service"
        },
        {
            "id": "richtext_content",
            "type": "richtext",
            "label": "Content",
            "default": "<p>\n                  As the world\u2019s most trusted leather supplier for aviation and rail, we bring unparalleled expertise in crafting durable, high-quality leather seat covers. \n                  Most manufacturers today are optimised for fabric and synthetic materials. \n                  \u200d\n                  However, leather requires specialised processes to achieve the highest standards in production, performance, lead times and cost efficiency. \n                  \u200d\n     <\/p>"
        },
        {
            "id": "url_button_link",
            "type": "url",
            "label": "Button Link"
        },
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Learn More"
        }
    ],
    "presets": [
        {
            "name": "Image Scroller",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}