<div class="padding-global">
          <div class="container-large">
            <div class="card_component">
              <div data-w-id="e82ad339-d324-7a1d-6328-3a3d94e4e5fb" style="opacity:0" class="content_wrapper">
                <h2>
{{ section.settings.text_heading }}
</h2>
                <div class="w-richtext">
                  <div> {{ section.settings.richtext_paragraph }} </div>
                </div>
                <div class="w-layout-grid layout6_item-list"></div>
                <div class="button-group-8">
                  <div class="button-group-9">
                    <a data-w-id="e82ad339-d324-7a1d-6328-3a3d94e4e60c" href="{{ section.settings.url_button_link }}" class="button2 is-v2 w-inline-block"> <div class="button5_inner is-v2"> <div class="button2_text">{{ section.settings.text_button_text }}</div> <div class="button2_icon-wrap"><img loading="lazy" src="{{ 'button2-arrow.svg' | asset_url }}" alt="" class="button2_icon"></div> </div> <div class="button5_gradient is-v2"></div> <div bind="90e0e776-af58-4836-0cc8-837fb6f002e5" class="custom-styles hide w-embed"> <style>html { font-size: 16px; } h1, .heading-style-h1 { font-size: 2.01em; } h2, .heading-style-h2 { font-size: 1.75em; } h3, .heading-style-h3 { font-size: 1.52em; } h4, .heading-style-h4 { font-size: 1.32em; } h5, .heading-style-h5 { font-size: 1.15em; } @media (min-width: 478px) { html { font-size: calc(16px + 0 * ((100vw - 478px) / 514)); } } @media (min-width: 992px) { html { font-size: 16px; } h1, .heading-style-h1 { font-size: 3.71em; } h2, .heading-style-h2 { font-size: 2.86em; } h3, .heading-style-h3 { font-size: 2.2em; } h4, .heading-style-h4 { font-size: 1.69em; } h5, .heading-style-h5 { font-size: 1.3em; } } @media (min-width: 1440px) { html { font-size: calc(16px + 2 * ((100vw - 1440px) / 480)); } } @media (min-width: 1920px) { html { font-size: 18px; } } a { color: white; text-decoration: none; } .button2 .button2_icon-wrap { left: calc(100% - 0.5em); transform: translateX(-100%); transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); } .button2:hover .button2_icon-wrap { left: 0.5em; transform: translateX(0); background: rgba(255,255,255,0); } .button2 .button2_text { position:relative; left:0; transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); } .button2:hover .button2_text { left:3.5em; } .button2 .button2_icon { filter: invert(0%); transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); } .button2:hover .button2_icon { filter: invert(100%); }</style> </div> </a>
                  </div>
                  <a href="#" class="morecontainer w-inline-block">
                    <p class="text-size-regular-2">Find Out More</p><img loading="lazy" src="https://uploads-ssl.webflow.com/66762a278b3e636bb85f4c56/66762a278b3e636bb85f4c76_Right%20arrow.svg" alt="" class="arrow-icon">
                  </a>
                </div>
              </div>
              <div id="w-node-e82ad339-d324-7a1d-6328-3a3d94e4e618-029cc97b" data-w-id="e82ad339-d324-7a1d-6328-3a3d94e4e618" style="opacity:0" class="card_img-wrapper">{% if section.settings.image_large_image %}
{{ section.settings.image_large_image | image_url: width: 1000 | image_tag: class: 'layout6_image', sizes: '(max-width: 1060px) 100vw, 1060px', loading: 'lazy' }}
{% else %}
<img class="layout6_image" src="{{ 'Placeholder-Image_1Placeholder-Image.webp' | asset_url }}" alt="" sizes="(max-width: 1060px) 100vw, 1060px" loading="lazy" srcset="{{ 'Placeholder-Image_1Placeholder-Image.webp' | asset_url }} 500w, {{ 'Placeholder-Image_1Placeholder-Image.webp' | asset_url }} 800w, {{ 'Placeholder-Image_1Placeholder-Image.webp' | asset_url }} 1060w">
{% endif %}</div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Image with Text (Rig",
    "class": "section _2rem",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Brain Fog. Be Gone"
        },
        {
            "id": "richtext_paragraph",
            "type": "richtext",
            "label": "Paragraph",
            "default": "<p>Lion\u2019s Mane reduces brain fog, promoting mental clarity and sharpness. It supports brain health by enhancing nerve growth factor (NGF) production, crucial for neuron maintenance and regeneration. <\/p>"
        },
        {
            "id": "url_button_link",
            "type": "url",
            "label": "Button Link"
        },
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Try Lions Mane"
        },
        {
            "id": "image_large_image",
            "type": "image_picker",
            "label": "Large Image"
        }
    ],
    "presets": [
        {
            "name": "Image with Text (Rig",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}