<div id="w-node-bf6fab60-fd64-144e-576e-da1d4be2c076-4be2c075" class="textcontainer">
          <div class="div-block-540">
            <div id="w-node-bf6fab60-fd64-144e-576e-da1d4be2c078-4be2c075" class="header38_content">
              <div class="margin-bottom margin-small">
                <h3>Muirhead Seat Cover Service:</h3>
                <h2>
{{ section.settings.text_heading }}
</h2>
              </div>
              <div class="rich-text-block w-richtext"> {{ section.settings.richtext_body_text }} </div>
              <div class="margin-top margin-medium">
                <div class="button-group-2">
                  <a href="{{ section.settings.url_button_link }}" data-wf--button-main--variant="dark" data-w-id="62fe5b66-eb79-581e-644e-970322077823" class="button-4 white-28 w-variant-40d42f51-beaf-80a4-8697-83623596810b w-inline-block"> <div class="icon-link-3"> <div class="clip-2 white-10"> <div class="hover-text white-31"> <div class="text-size-small-11 white-34">{{ section.settings.text_button_text }}</div> </div> <div class="hover-text white-31 bottom white-20"> <div class="text-size-small-11 white-34">{{ section.settings.text_button_text }}</div> </div> </div> <div sym-bind="{"visibility":{"type":"Record","val":{"conditions":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"96595133-de64-782c-bc2b-1a27b5d57cf2"}}}}}" class="icon-link_circle-2 white-22"> <div class="clip-2 white-10"> <div class="hover-arrow-3"><img sym-bind="{"img":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"65b07040-501f-bf3a-2cb4-717461e9b2dd"}}}" src="{{ 'arrow-right-long-line_1.svg' | asset_url }}" alt="" loading="lazy" class="icon-1x1-small-7 white-12"></div> <div class="hover-arrow-3 left-arrow"><img sym-bind="{"img":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"65b07040-501f-bf3a-2cb4-717461e9b2dd"}}}" loading="lazy" alt="" src="{{ 'arrow-right-long-line_1.svg' | asset_url }}" class="icon-1x1-small-7 white-12"></div> </div> </div> </div> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="header77_content-right w-inline-block">
          <div class="layout414_content-bottom">
            <div class="layout414_image-list image-list-top">
              <div id="w-node-bf6fab60-fd64-144e-576e-da1d4be2c0be-4be2c075" class="layout414_image-wrapper"><img id="w-node-bf6fab60-fd64-144e-576e-da1d4be2c0bf-4be2c075" sizes="100vw" alt="" loading="lazy" src="{{ 'muirhead_biopro_foam_seat.webp' | asset_url }}" srcset="{{ 'muirhead_biopro_foam_seat-p-500.webp' | asset_url }} 500w, {{ 'muirhead_biopro_foam_seat.webp' | asset_url }} 717w" class="layout414_image"></div>
              <div id="w-node-bf6fab60-fd64-144e-576e-da1d4be2c0c0-4be2c075" class="layout414_image-wrapper"><img id="w-node-bf6fab60-fd64-144e-576e-da1d4be2c0c1-4be2c075" sizes="100vw" alt="" loading="lazy" src="{{ 'muirhead_biopro_foam1.webp' | asset_url }}" srcset="{{ 'muirhead_biopro_foam1-p-500.webp' | asset_url }} 500w, {{ 'muirhead_biopro_foam1.webp' | asset_url }} 717w" class="layout414_image"></div>
              <div id="w-node-bf6fab60-fd64-144e-576e-da1d4be2c0c2-4be2c075" class="layout414_image-wrapper"><img id="w-node-bf6fab60-fd64-144e-576e-da1d4be2c0c3-4be2c075" sizes="100vw" alt="" loading="lazy" src="{{ 'muirhead_biopro_foam3.webp' | asset_url }}" srcset="{{ 'muirhead_biopro_foam3-p-500.webp' | asset_url }} 500w, {{ 'muirhead_biopro_foam3.webp' | asset_url }} 717w" class="layout414_image"></div>
              <div id="w-node-bf6fab60-fd64-144e-576e-da1d4be2c0c4-4be2c075" class="layout414_image-wrapper"><img id="w-node-bf6fab60-fd64-144e-576e-da1d4be2c0c5-4be2c075" src="" alt="" loading="lazy" class="layout414_image"></div>
            </div>
            <div class="layout414_image-list image-list-bottom">
              <div id="w-node-bf6fab60-fd64-144e-576e-da1d4be2c0c7-4be2c075" class="layout414_image-wrapper"><img id="w-node-bf6fab60-fd64-144e-576e-da1d4be2c0c8-4be2c075" sizes="100vw" alt="" loading="lazy" src="{{ 'muirhead_biopro_foam3.webp' | asset_url }}" srcset="{{ 'muirhead_biopro_foam3-p-500.webp' | asset_url }} 500w, {{ 'muirhead_biopro_foam3.webp' | asset_url }} 717w" class="layout414_image"></div>
              <div id="w-node-bf6fab60-fd64-144e-576e-da1d4be2c0c9-4be2c075" class="layout414_image-wrapper"><img id="w-node-bf6fab60-fd64-144e-576e-da1d4be2c0ca-4be2c075" sizes="(max-width: 1919px) 100vw, 1519.96533203125px" alt="" loading="lazy" src="{{ 'muirhead_biopro_foam_hero.webp' | asset_url }}" srcset="{{ 'muirhead_biopro_foam_hero-p-500.webp' | asset_url }} 500w, {{ 'muirhead_biopro_foam_hero-p-800.webp' | asset_url }} 800w, {{ 'muirhead_biopro_foam_hero-p-1080.webp' | asset_url }} 1080w, {{ 'muirhead_biopro_foam_hero.webp' | asset_url }} 1520w" class="layout414_image"></div>
              <div id="w-node-bf6fab60-fd64-144e-576e-da1d4be2c0cb-4be2c075" class="layout414_image-wrapper"><img id="w-node-bf6fab60-fd64-144e-576e-da1d4be2c0cc-4be2c075" sizes="100vw" alt="" loading="lazy" src="{{ 'biopro-foam-with-logo.webp' | asset_url }}" srcset="{{ 'biopro-foam-with-logo-p-500.webp' | asset_url }} 500w, {{ 'biopro-foam-with-logo.webp' | asset_url }} 717w" class="layout414_image"></div>
              <div id="w-node-bf6fab60-fd64-144e-576e-da1d4be2c0cd-4be2c075" class="layout414_image-wrapper"><img id="w-node-bf6fab60-fd64-144e-576e-da1d4be2c0ce-4be2c075" src="" alt="" loading="lazy" class="layout414_image"></div>
            </div>
          </div>
        </a> {% schema %} {
    "tag": "header",
    "name": "Image Scroller",
    "class": "imagescrollersection",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Rethink comfort. <br\/>Redefine sustainability."
        },
        {
            "id": "richtext_body_text",
            "type": "richtext",
            "label": "Body Text",
            "default": "<p>\n                Muirhead BioPRO\u00ae Foam is a game-changer for aviation seating \u2013 setting a new standard in sustainability, performance, and customisation. <br\/><br\/>With a <strong>protein content of 20%<\/strong>, this innovative foam for aviation seat cushions is naturally fire-resistant, highly durable, and lightweight. It is free from harmful substances such as melamine, bromine, and PFAS, and can be fully tailored to meet your specific requirements.Explore how this revol<\/p>"
        },
        {
            "id": "url_button_link",
            "type": "url",
            "label": "Button Link"
        },
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Learn More"
        }
    ],
    "presets": [
        {
            "name": "Image Scroller",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}