<div li-content-for-blocks="" class="container-large centre rel-2">
{% for block in section.blocks %}
{% case block.type %}
{% when '@app' %}
{% render block %}

          <div class="layout37_component">
            {% when 'icon' %}
            <div li-block="Icon">
                    {% if block.settings.image_image %}
{{ block.settings.image_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'low-carbon-leather' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'low-carbon-leather' }} 
{% endif %}
                </div>
            {% when 'heading' %}
            <div li-block="Heading">
                    
              
                    <h2 class="heading-style-h2-5">
{{ block.settings.text_heading }}
</h2>
                    
            
                </div>
            {% when 'paragraph' %}
            <div li-block="Paragraph">
                    
              
                    <div class="text-size-medium w-richtext"> {{ block.settings.richtext_richtext }} </div>
                    
            
                </div>
          </div>
        {% endcase %}
{% endfor %}

    </div>{% if section.settings.image_image %}
{{ section.settings.image_image | image_url: width: 1000 | image_tag: class: 'background-image-cta', sizes: '(max-width: 1279px) 100vw, 1004.9913940429688px', loading: 'lazy' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'background-image-cta' }} 
{% endif %}
        <div class="gradient-overlay"></div> {% schema %} {
    "tag": "div",
    "name": "Large CTA",
    "class": "sustainable-section",
    "blocks": [
        {
            "name": "Icon",
            "type": "icon",
            "settings": [
                {
                    "id": "image_image",
                    "type": "image_picker",
                    "label": "Image"
                }
            ]
        },
        {
            "name": "Heading",
            "type": "heading",
            "settings": [
                {
                    "id": "text_heading",
                    "type": "text",
                    "label": "Heading",
                    "default": "Muirhead Makes The Lowest-Carbon Leather In The World."
                }
            ]
        },
        {
            "name": "Paragraph",
            "type": "paragraph",
            "settings": [
                {
                    "id": "richtext_richtext",
                    "type": "richtext",
                    "label": "Richtext",
                    "default": "<p>\n                We source locally, tan naturally, reclaim energy from waste and re-use water. <br\/><br\/><strong>We are serious about sustainability.<\/strong>\n              <\/p>"
                }
            ]
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        }
    ],
    "presets": [
        {
            "name": "Large CTA",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "icon"
                },
                {
                    "type": "heading"
                },
                {
                    "type": "paragraph"
                }
            ]
        }
    ]
} {% endschema %}