<div li-content-for-blocks="" class="container-large centre rel-2">
{% for block in section.blocks %}
{% case block.type %}
{% when '@app' %}
{% render block %}

          <div class="layout37_component">
            {% when 'icon' %}
            <div li-block="Icon">
                    {% if block.settings.image_image %}
{{ block.settings.image_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'low-carbon-leather' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'low-carbon-leather' }} 
{% endif %}
                </div>
            {% when 'heading' %}
            <div li-block="Heading">
                    
              
                    <h2 class="heading-style-h2-5">
{{ block.settings.text_heading }}
</h2>
                    
            
                </div>
            {% when 'paragraph' %}
            <div li-block="Paragraph">
                    
              
                    <div class="text-size-medium w-richtext"> {{ block.settings.richtext_richtext }} </div>
                    
            
                </div>
          </div>
        {% endcase %}
{% endfor %}

    </div>
        <div class="header_background-image-wrapper">
          {% if section.settings.checkbox_overlay == true %}
<div class="header_overlay-layer"></div>{% endif %}
          <div data-image="desktop" class="hero_bg-image-wrap z-index-1">{% if section.settings.image_desktop_image %}
{{ section.settings.image_desktop_image | image_url: width: 1920 | image_tag: loading: 'eager', class: 'header_background-image' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'header_background-image' }} 
{% endif %}</div>
          {% unless section.settings.image_mobile_image == blank %}    <div data-image="mobile" li-unless="section.settings.image_mobile_image == blank" class="hero_bg-image-wrap z-index-2 hide-unless-mobile-portrait">
    {% if section.settings.image_mobile_image %}
{{ section.settings.image_mobile_image | image_url: width: 1000 | image_tag: loading: 'eager', class: 'header_background-image' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'header_background-image' }} 
{% endif %}    </div>
{% endunless %}
        </div> {% schema %} {
    "tag": "div",
    "name": "Large CTA",
    "class": "sustainable-section",
    "blocks": [
        {
            "name": "Icon",
            "type": "icon",
            "settings": [
                {
                    "id": "image_image",
                    "type": "image_picker",
                    "label": "Image"
                }
            ]
        },
        {
            "name": "Heading",
            "type": "heading",
            "settings": [
                {
                    "id": "text_heading",
                    "type": "text",
                    "label": "Heading",
                    "default": "Muirhead Makes The Lowest-Carbon Leather In The World."
                }
            ]
        },
        {
            "name": "Paragraph",
            "type": "paragraph",
            "settings": [
                {
                    "id": "richtext_richtext",
                    "type": "richtext",
                    "label": "Richtext",
                    "default": "<p>\n                We source locally, tan naturally, reclaim energy from waste and re-use water. <br\/><br\/><strong>We are serious about sustainability.<\/strong>\n              <\/p>"
                }
            ]
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "id": "checkbox_overlay",
            "type": "checkbox",
            "label": "Overlay",
            "default": true
        },
        {
            "id": "image_desktop_image",
            "type": "image_picker",
            "label": "Desktop Image"
        },
        {
            "id": "image_mobile_image",
            "type": "image_picker",
            "label": "Mobile Image"
        }
    ],
    "presets": [
        {
            "name": "Large CTA",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "icon"
                },
                {
                    "type": "heading"
                },
                {
                    "type": "paragraph"
                }
            ]
        }
    ]
} {% endschema %}