<div class="padding-global">
          <div class="padding-vertical-2rem">
            <div class="container-large">
              <div sf-product="" class="product-container">
                <div class="product-header5_component">
                  <div class="w-layout-grid product-header5_layout">
                    <div class="product-header5_gallery">
                      <div class="swiper-container is-product-gallery">
                        <div class="swiper is-product-gallery">
                          <div id="my-gallery" li-for:inside="media in product.media" class="swiper-wrapper is-product-gallery">
        {% for media in product.media %}                            
                            
                            {% if media.media_type == 'image' %}    <div li-if="media.media_type == 'image'" class="swiper-slide is-product-gallery">
    
                              <div class="product-header_gallery-lightbox"><img li-object:src="media | image_url: width: 1000" li-object:alt="media.alt" alt="{{ media.alt }}" src="{{ media | image_url: width: 1000 }}" loading="lazy" class="product-header_gallery-image"></div>
                                </div>
{% endif %}
                            
                            
                            {% if media.media_type == 'video' %}    <div li-if="media.media_type == 'video'" class="swiper-slide is-product-gallery">
    
                              <div class="product-header_gallery-lightbox">
                                <div li-object="media | video_tag: controls: true" class="product-header_gallery-image">{{ media | video_tag: controls: true }}</div>
                              </div>
                                </div>
{% endif %}
                            
                          
                    {% endfor %}    </div>
                        </div>
                        <div class="product-header_slider-wrapper">
                          <div class="swiper_button-wrapper is-product-slider pointer-events-off z-index-1 hide-mobile-landscape">
                            <a aria-label="Previous Slide" href="#" class="swiper_button swiper-prev pointer-events-on w-inline-block">
                              <div class="swiper_button-icon is-reversed w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 29.541 22.323">
                                  <g id="Group_44" data-name="Group 44" transform="translate(0 1.014)">
                                    <path id="Path_1" data-name="Path 1" d="M115.445,20.633l9.311-10.148L115.445.338" transform="translate(-97.25 -0.338)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></path>
                                    <line id="Line_1" data-name="Line 1" x1="27.506" transform="translate(0 10.148)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></line>
                                  </g>
                                </svg></div>
                            </a>
                            <a aria-label="Next Slide" href="#" class="swiper_button swiper-next pointer-events-on w-inline-block">
                              <div class="swiper_button-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 29.541 22.323">
                                  <g id="Group_44" data-name="Group 44" transform="translate(0 1.014)">
                                    <path id="Path_1" data-name="Path 1" d="M115.445,20.633l9.311-10.148L115.445.338" transform="translate(-97.25 -0.338)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></path>
                                    <line id="Line_1" data-name="Line 1" x1="27.506" transform="translate(0 10.148)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></line>
                                  </g>
                                </svg></div>
                            </a>
                          </div>
                          <div class="swiper is-product-thumbnail">
                            <div li-for:inside="media in product.media" class="swiper-wrapper is-product-thumbnail">
        {% for media in product.media %}                            
                              
                            {% if media.media_type == 'image' %}    <div li-if="media.media_type == 'image'" class="swiper-slide is-product-thumbnail">
    <img li-object:src="media | image_url: width: 200" li-object:alt="media.alt" alt="{{ media.alt }}" src="{{ media | image_url: width: 200 }}" loading="lazy" class="product-header_thumbnail-image">    </div>
{% endif %}
                            
                              
                            {% if media.media_type == 'video' %}    <div li-if="media.media_type == 'video'" class="swiper-slide is-product-thumbnail">
    <img li-object:src="media | image_url: width: 200" li-object:alt="media.alt" alt="{{ media.alt }}" src="{{ media | image_url: width: 200 }}" loading="lazy" class="product-header_thumbnail-image">
                                <div aria-hidden="true" class="product-header_play-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="100%" height="100%" preserveaspectratio="xMidYMid meet" viewbox="0 0 24 24">
                                    <path fill="currentColor" d="M8 5v14l11-7z"></path>
                                  </svg></div>
                                  </div>
{% endif %}
                            
                            
                    {% endfor %}    </div>
                          </div>
                        </div>
                        <div class="swiper-slide is-product-thumbnail is-active hide"></div>
                      </div>
                      <div class="_0-5rem-spacer"></div>
                      <div class="gallery_grid"><img id="w-node-fe07dea6-2d4a-2a80-aea4-fec30145d23d-029cc993" loading="eager" alt="" src="https://cdn.prod.website-files.com/683c2c55d3d0c375fc4bb49a/683c2c55d3d0c375fc4bb7b8_placeholder_2_3_lightgray.svg" class="image-cover-5"><img id="w-node-fe07dea6-2d4a-2a80-aea4-fec30145d23e-029cc993" loading="eager" alt="" src="https://cdn.prod.website-files.com/68e2301d72211f0b080d09d7/68e2301d72211f0b080d0c70_placeholder_3_2_lightgray.svg" class="image-cover-5"><img id="w-node-fe07dea6-2d4a-2a80-aea4-fec30145d23f-029cc993" loading="eager" alt="" src="https://cdn.prod.website-files.com/68e2301d72211f0b080d09d7/68e2301d72211f0b080d0c70_placeholder_3_2_lightgray.svg" class="image-cover-5"></div>
                      <div class="_0-5rem-spacer"></div>
                      <div style="padding-top:56.17021276595745%" class="w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FGNYYghYJ-14%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DGNYYghYJ-14&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FGNYYghYJ-14%2Fhqdefault.jpg&type=text%2Fhtml&schema=youtube" width="940" height="528" scrolling="no" allowfullscreen="" title="Muirhead FreeTAN"></iframe></div>
                      <div class="breadcrumb_component-3">
                        <a href="#" class="breadcrumb-link-3 w-inline-block">
                          <div>Shop</div>
                        </a>
                        <div class="breadcrumb-divider-3 w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                          </svg></div>
                        <a href="#" class="breadcrumb-link-3 w-inline-block">
                          <div>This is some text inside of a div block.</div>
                        </a>
                      </div>
                    </div>
                    <div class="product-details">
                      <div class="margin-bottom">
                        <div>
                          <h1 li-object:text="product.title" class="heading-style-h2-3">
{{ product.title }}
</h1>
                        </div>
                      </div>
                      <div>
                        <div class="product-header_price-wrapper">
                          <div li-js-price="product.selected_or_first_available_variant.price" class="text-size-large text-weight-bold" x-text="LiquifyHelper.moneyFormat(product.selected_or_first_available_variant.price, true, '{{ shop.money_with_currency_format }}')">$55</div>
                          <template x-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price">
            <div li-js-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price">
        
                            <div li-js-price="product.selected_or_first_available_variant.compare_at_price" class="text-size-regular text-style-strikethrough text-align-right text-style-muted" x-text="LiquifyHelper.moneyFormat(product.selected_or_first_available_variant.compare_at_price, true, '{{ shop.money_with_currency_format }}')">$55</div>
                                  </div>
    </template>
                          <div class="product-header_tag-list">
                            <template x-if="product.selected_or_first_available_variant.available != true">
            <div li-js-if="product.selected_or_first_available_variant.available != true" class="product-item_tag">
        Not in Stock        </div>
    </template>
                            <template x-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price">
            <div li-js-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price" class="product-item_tag is-red">
        Sale        </div>
    </template>
                          </div>
                        </div>
                      </div>
                      <div pb-component="ba31" class="pb-booster cc-blank">
                        <div class="booster__wrapper cc-0">
                          <div class="booster__content cc-center">
                            <div class="booster__content cc-auto">
                              <div class="u-text-no-wrap">or 4 interest-free installments of <strong>$41.25</strong> by</div>
                            </div>
                            <div class="booster__content cc-auto"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/673b60ea8cdd5aef5c30adee_afterpays.svg" alt="" class="img-installments"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/673b60ea8cdd5aef5c30adef_klarna.svg" alt="" class="img-installments"></div>
                          </div>
                        </div>
                        <div class="w-embed">
                          <style>
[pb-component="ba31"] {
  font-size: clamp(0.55rem, 2.5vw, 0.725rem); /* Min font 12px, responsive to viewport, Max 20px */
}
</style>
                        </div>
                      </div>
                      <div class="divider-vertical"></div>
                      <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                        <div class="cta-012 cta-new">
                          <div class="buybox1_trust-icon-ctas-2"><img loading="lazy" src="{{ 'delivery-icon.svg' | asset_url }}" alt="" class="icon-embed-xsmall-5">
                            <div class="text-features-cta">Free Shipping over £99</div>
                          </div>
                          <div class="buybox1_trust-icon-ctas-2"><img loading="lazy" src="https://cdn.prod.website-files.com/68e2301d72211f0b080d09d7/68e2301d72211f0b080d0c43_checkmark.svg" alt="" class="icon-embed-xsmall-5">
                            <div class="text-features-cta">Insured Shipping</div>
                          </div>
                        </div>
                      </div>
                      {% for block in section.blocks %}
    {% if block.type == "add-to-cart" %}
                    <div li-block="Add to Cart" class="div-block-759">
                                    
                        
                                    <div class="product-header_form-block-2 w-form">
                          {% form 'product', product, class: 'product-header_default-state' %}
{% if product.has_only_default_variant != true %}    <div li-if="product.has_only_default_variant != true" class="product-header_option-list">
    
                              <template x-for="(option, optionKey) in product.options" :key="optionKey">
    <div li-element="product-options-loop" class="product-header_option-2" data-ProductVariantsLoop="true">
                                <div li-element="product-options-name" x-text="option">Variant</div>
                                <div class="product-header_radio-list"><template x-for="(variantName, variantKey) in options_by_name[option].option.values" :key="variantName">
    <label li-element="product-option-loop" class="product-header_radio-2 w-radio">
                                    <div class="w-form-formradioinput w-form-formradioinput--inputType-custom product-header_radio-button-2 w-radio-input"></div><input type="radio" li-element="product-option-input" style="opacity:0;position:absolute;z-index:-1" x-on:click="setVariant" :name="option" :data-name="option" :value="variantName" :id="variantName.toString().normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase().trim().replace(/\s+/g, '-').replace(/[^\w-]+/g, '').replace(/--+/g, '-')" :checked="selected_or_first_available_variant?.options.includes(variantName)" data-selectorType="radio" :class="firstOptionHasAvailableChildren[variantName] ? '' : 'data-disabled'"><span li-element="product-option-name" class="text-size-regular w-form-label" for="radio" x-text="variantName" :for="variantName">XS</span>
                                  </label></template></div>
                              </div></template>
                                </div>
{% endif %}
                            <div class="product-header_add-to-cart-wrapper">
                              <div class="label-3">Quantity</div>
                              <template x-if="selected_or_first_available_variant.available">
            <div li-js-if="selected_or_first_available_variant.available" class="product-header_buy-wrappper-2">
        
                                <div class="product-container_quantity-changers">
                                  <a x-on:click="quantity--" href="#" class="quantity-decreaser-4">-</a><input li-element="add-to-cart-quantity" class="mini-cart_line-item_quantity-adjust-2 xl" value="1" x-model="quantity">
                                  <a x-on:click="quantity++" href="#" class="quantity-increaser-4">+</a>
                                </div>
                                <a href="#" li-element="add-to-cart" data-w-id="fe07dea6-2d4a-2a80-aea4-fec30145d290" class="button-4 white-28 brown w-inline-block" @click="addToCart($event, true)" :disabled="!addToCartButton">
                                  <div class="icon-link-3 brown-2">
                                    <div id="cta_text" class="checkout-btns">
                                      <div id="cta_text" class="button-text">Add To Cart</div>
                                      <div class="html-embed-10 w-embed"><svg width="100%" height="100%" viewbox="0 0 47 47" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                          <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="Ecommerce-Icons" transform="translate(-68.000000, -2394.000000)" fill="CurrentColor">
                                              <g id="Primary-Lock-Black-Copy" transform="translate(68.000000, 2394.000000)">
                                                <path d="M2.894495,44.10574 L44.10574,44.10574 L44.10574,19.434265 L2.894495,19.434265 L2.894495,44.10574 Z M13.920695,12.473565 C13.920695,7.191705 18.217905,2.89426 23.5,2.89426 C28.782095,2.89426 33.079305,7.191705 33.079305,12.473565 L33.079305,16.539535 L13.920695,16.539535 L13.920695,12.473565 Z M45.55287,16.539535 L35.973565,16.539535 L35.973565,12.473565 C35.973565,5.595585 30.378215,0 23.5,0 C16.621785,0 11.026435,5.595585 11.026435,12.473565 L11.026435,16.539535 L1.44713,16.539535 C0.647895,16.539535 0,17.187665 0,17.9869 L0,45.55287 C0,46.352105 0.647895,47 1.44713,47 L45.55287,47 C46.352105,47 47,46.352105 47,45.55287 L47,17.9869 C47,17.187665 46.352105,16.539535 45.55287,16.539535 L45.55287,16.539535 Z" id="Fill-1"></path>
                                                <path d="M26.911401,28.2895115 C26.911401,26.3864815 25.368626,24.8439415 23.465596,24.8439415 C21.562331,24.8439415 20.019791,26.3864815 20.019791,28.2895115 C20.019791,29.4074065 20.554416,30.3979315 21.379266,31.0274965 L21.374331,31.0274965 L20.019791,38.6266915 L26.911401,38.6266915 L25.556861,31.0274965 L25.551691,31.0274965 C26.376776,30.3979315 26.911401,29.4074065 26.911401,28.2895115" id="Fill-3"></path>
                                              </g>
                                            </g>
                                          </g>
                                        </svg></div>
                                    </div>
                                  </div>
                                </a>
                                      </div>
    </template>
                            </div>
                          {% endform %}
                          <div class="hide-2 w-form-done">
                            <div>Thank you! Your submission has been received!</div>
                          </div>
                          <div class="hide-2 w-form-fail">
                            <div>Oops! Something went wrong while submitting the form.</div>
                          </div>
                        </div>
                                    
                      
                            </div>
            {% endif %}
{% endfor %}
                      <div class="divider-vertical"></div>
                      <div class="pb-booster cc-blank">
                        <div class="booster__wrapper cc-0">
                          <div class="booster__content cc-center gap-xs"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/66f5c7386b7a95c9ed85de8d_visa.8d7f514b.svg" alt="" class="pb-component__icon _w-8"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/66f5c7396b7a95c9ed85df08_mastercard.3afe1dc7.svg" alt="" class="pb-component__icon _w-8"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/66f5c7396b7a95c9ed85df1d_amex.96fe8a50.svg" alt="" class="pb-component__icon _w-8"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/66f5c7386b7a95c9ed85decf_paypal.9f345195.svg" alt="" class="pb-component__icon _w-8"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/66f5c7396b7a95c9ed85df3d_discover.f0950dd5.svg" alt="" class="pb-component__icon _w-8"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/66f5c7396b7a95c9ed85df39_google-pay.7028b8c9.svg" alt="" class="pb-component__icon _w-8"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/66f5c7396b7a95c9ed85df28_apple-pay.730a4379.svg" alt="" class="pb-component__icon _w-8"></div>
                        </div>
                      </div>
                      <div class="div-block-736"><img loading="eager" src="https://cdn.prod.website-files.com/68e2301d72211f0b080d09d7/68e2301d72211f0b080d0bf6_low-carbon-leather-logo.avif" alt="" class="icon-large">
                        <div class="div-block-746">
                          <p class="text-size-tiny-2">We have the lowest carbon leather in the world. <br>
                            <a href="#" class="link-underline">Find out more</a>
                          </p>
                        </div>
                      </div>
                      <div class="divider-vertical"></div>
                      <div>
                        <div class="label-3">Suitable For</div>
                        <ul role="list" class="block_item-list_features-2 w-list-unstyled">
                          <li class="icon-list-item-2">
                            <div class="feature-wrap"><img loading="lazy" src="{{ 'bus-1.svg' | asset_url }}" alt="" class="icon-embed-xsmall-5">
                              <div class="text-size-small-14">Bus</div>
                            </div>
                            <div class="feature-wrap"><img loading="lazy" src="{{ 'sofa-1.svg' | asset_url }}" alt="" class="icon-embed-xsmall-5">
                              <div class="text-size-small-14">Interiors</div>
                            </div>
                            <div class="feature-wrap"><img loading="lazy" src="{{ 'plane-1.svg' | asset_url }}" alt="" class="icon-embed-xsmall-5">
                              <div class="text-size-small-14">Plane</div>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="product-container_variant-info-2">
                        <div class="product-container_variant-info-row">
                          <div class="label-3">SKU:</div>
                          <div class="sku-displayer">This is some text inside of a div block.</div>
                        </div>
                        <div class="product-container_variant-info-row">
                          <div class="label-3">Items available: </div>
                          <div sf-show-stock="1" class="stock-count-displayer">0<br></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hide w-embed w-script">
          <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
          <script>
document.addEventListener("DOMContentLoaded", () => {
  $(".swiper-container").each(function (index) {
    const thumbsSwiper = new Swiper($(this).find(".swiper.is-product-thumbnail")[0], {
      slidesPerView: "auto",
      rewind: false,
      loopedSlides: 8,
      slideToClickedSlide: true,
      spaceBetween: "4%",
    });
    const swiper = new Swiper($(this).find(".swiper.is-product-gallery")[0], {
      mousewheel: {
        forceToAxis: true
      },
      thumbs: {
        swiper: thumbsSwiper,
        slideThumbActiveClass: "is-active",
      },
      keyboard: {
        enabled: true,
        onlyInViewport: true
      },
      navigation: {
        nextEl: $(this).find(".swiper-next")[0],
        prevEl: $(this).find(".swiper-prev")[0],
      }
    });
  }); 
});
</script>
        </div> {% schema %} {
    "tag": "header",
    "name": "Product Page",
    "class": "section",
    "blocks": [
        {
            "name": "Add to Cart",
            "type": "add-to-cart",
            "settings": null
        }
    ],
    "presets": [
        {
            "name": "Product Page",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "add-to-cart"
                }
            ]
        }
    ],
    "enabled_on": {
        "templates": [
            "product"
        ]
    }
} {% endschema %}