<div class="padding-global padding-section-small">
          <div class="container-large">
            <div class="product-header_component">
              <script src="{{ 'li_custom.js' | asset_url }}" type="text/javascript"></script>
<div li-element="product-variant-container" class="w-layout-grid product-header_layout" x-data="handleVariant({{ product | json | escape }}, {{ product.options_by_name | json | escape }}, {{ product.selected_or_first_available_variant | json | escape }})" x-init="$nextTick(() => { activateVariants() })" @setbundleitem.window="updateBundleItem($event.detail.product, $event.detail.quantity)">
                <div>
                  <a href="#" class="product-header5_lightbox-link w-inline-block w-lightbox">
                    <div data-w-id="3414d37a-ab5d-9370-4c03-be3de10a9cbd" class="sp-product-image-wrapper">
                      <div li-object:alt="media.alt" li-object:src="media | image_url: width: 1000" class="zoom-wrapper" alt="{{ media.alt }}" src="{{ media | image_url: width: 1000 }}">
                        <div class="zoom-modal"><img data-w-id="3414d37a-ab5d-9370-4c03-be3de10a9cc0" li-object:src="image.src | product_img_url: 'master'" alt="{{ image.alt }}" src="{{ image.src | product_img_url: 'master' }}" li-object:alt="image.alt" class="product-image-zoomed"></div>
                      </div><img li-object:src="image.src | product_img_url: 'master'" li-object:alt="image.alt" alt="{{ image.alt }}" src="{{ image.src | product_img_url: 'master' }}" class="sp-product-image">
                    </div>
                    <script type="application/json" class="w-json">{
  "items": [],
  "group": ""
}</script>
                  </a>
                  <div class="_2rem-spacer"></div>
                  <div>
                    <div class="w-embed-youtubevideo"></div>
                  </div>
                </div>
                <div li-content-for-theme-blocks="" id="w-node-_4b0e9b61-6f53-1185-9fdd-143753136879-5313685d" class="product-header_product-details">
{% content_for 'blocks' %}
</div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Product Hero",
    "class": "section_product-header",
    "blocks": [
        {
            "type": "vendor"
        },
        {
            "type": "product-name"
        },
        {
            "type": "product-price"
        },
        {
            "type": "availability"
        },
        {
            "type": "add-to-cart"
        },
        {
            "type": "payment-icons"
        },
        {
            "type": "low-carbon-leather"
        },
        {
            "type": "description"
        },
        {
            "type": "safety-specs"
        },
        {
            "type": "@app"
        }
    ],
    "presets": [
        {
            "name": "Product Hero",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "vendor"
                },
                {
                    "type": "product-name"
                },
                {
                    "type": "product-price"
                },
                {
                    "type": "availability"
                },
                {
                    "type": "add-to-cart"
                },
                {
                    "type": "payment-icons"
                },
                {
                    "type": "low-carbon-leather"
                },
                {
                    "type": "description"
                },
                {
                    "type": "safety-specs"
                }
            ]
        }
    ],
    "enabled_on": {
        "templates": [
            "product"
        ]
    }
} {% endschema %}