<div class="padding-global">
          <div class="padding-vertical-2rem">
            <div class="container-large">
              <div sf-product="" class="product-container">
                <div class="product-header5_component">
                  <div class="w-layout-grid product-header5_layout">
                    <div class="product-header5_gallery">
                      <div class="swiper-container is-product-gallery">
                        <div class="swiper is-product-gallery">
                          <div id="my-gallery" li-for:inside="media in product.media" class="swiper-wrapper is-product-gallery">
        {% for media in product.media %}                            
                            
                            {% if media.media_type == 'image' %}    <div li-if="media.media_type == 'image'" class="swiper-slide is-product-gallery">
    
                              <div class="product-header_gallery-lightbox"><img li-object:src="media | image_url: width: 1000" li-object:alt="media.alt" alt="{{ media.alt }}" src="{{ media | image_url: width: 1000 }}" loading="lazy" class="product-header_gallery-image"></div>
                                </div>
{% endif %}
                            
                            
                            {% if media.media_type == 'video' %}    <div li-if="media.media_type == 'video'" class="swiper-slide is-product-gallery">
    
                              <div class="product-header_gallery-lightbox">
                                <div li-object="media | video_tag: controls: true" class="product-header_gallery-image">{{ media | video_tag: controls: true }}</div>
                              </div>
                                </div>
{% endif %}
                            
                          
                    {% endfor %}    </div>
                        </div>
                        <div class="product-header_slider-wrapper">
                          <div class="swiper_button-wrapper is-product-slider pointer-events-off z-index-1 hide-mobile-landscape">
                            <a aria-label="Previous Slide" href="#" class="swiper_button swiper-prev pointer-events-on w-inline-block">
                              <div class="swiper_button-icon is-reversed w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 29.541 22.323">
                                  <g id="Group_44" data-name="Group 44" transform="translate(0 1.014)">
                                    <path id="Path_1" data-name="Path 1" d="M115.445,20.633l9.311-10.148L115.445.338" transform="translate(-97.25 -0.338)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></path>
                                    <line id="Line_1" data-name="Line 1" x1="27.506" transform="translate(0 10.148)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></line>
                                  </g>
                                </svg></div>
                            </a>
                            <a aria-label="Next Slide" href="#" class="swiper_button swiper-next pointer-events-on w-inline-block">
                              <div class="swiper_button-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 29.541 22.323">
                                  <g id="Group_44" data-name="Group 44" transform="translate(0 1.014)">
                                    <path id="Path_1" data-name="Path 1" d="M115.445,20.633l9.311-10.148L115.445.338" transform="translate(-97.25 -0.338)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></path>
                                    <line id="Line_1" data-name="Line 1" x1="27.506" transform="translate(0 10.148)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></line>
                                  </g>
                                </svg></div>
                            </a>
                          </div>
                          <div class="swiper is-product-thumbnail">
                            <div li-for:inside="media in product.media" class="swiper-wrapper is-product-thumbnail">
        {% for media in product.media %}                            
                              
                            {% if media.media_type == 'image' %}    <div li-if="media.media_type == 'image'" class="swiper-slide is-product-thumbnail">
    <img li-object:src="media | image_url: width: 200" li-object:alt="media.alt" alt="{{ media.alt }}" src="{{ media | image_url: width: 200 }}" loading="lazy" class="product-header_thumbnail-image">    </div>
{% endif %}
                            
                              
                            {% if media.media_type == 'video' %}    <div li-if="media.media_type == 'video'" class="swiper-slide is-product-thumbnail">
    <img li-object:src="media | image_url: width: 200" li-object:alt="media.alt" alt="{{ media.alt }}" src="{{ media | image_url: width: 200 }}" loading="lazy" class="product-header_thumbnail-image">
                                <div aria-hidden="true" class="product-header_play-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="100%" height="100%" preserveaspectratio="xMidYMid meet" viewbox="0 0 24 24">
                                    <path fill="currentColor" d="M8 5v14l11-7z"></path>
                                  </svg></div>
                                  </div>
{% endif %}
                            
                            
                    {% endfor %}    </div>
                          </div>
                        </div>
                        <div class="swiper-slide is-product-thumbnail is-active hide"></div>
                      </div>
                      <div class="_0-5rem-spacer"></div>
                      <div class="gallery_grid"><img id="w-node-_3d2d4f41-8c6b-c7d3-7df9-ed90d63b1ca1-029cc993" loading="eager" alt="" src="https://cdn.prod.website-files.com/683c2c55d3d0c375fc4bb49a/683c2c55d3d0c375fc4bb7b8_placeholder_2_3_lightgray.svg" class="image-cover-5"><img id="w-node-_3d2d4f41-8c6b-c7d3-7df9-ed90d63b1ca2-029cc993" loading="eager" alt="" src="https://cdn.prod.website-files.com/68e2301d72211f0b080d09d7/68e2301d72211f0b080d0c70_placeholder_3_2_lightgray.svg" class="image-cover-5"><img id="w-node-_3d2d4f41-8c6b-c7d3-7df9-ed90d63b1ca3-029cc993" loading="eager" alt="" src="https://cdn.prod.website-files.com/68e2301d72211f0b080d09d7/68e2301d72211f0b080d0c70_placeholder_3_2_lightgray.svg" class="image-cover-5"></div>
                      <div class="_0-5rem-spacer"></div>
                      <div style="padding-top:56.17021276595745%" class="w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FGNYYghYJ-14%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DGNYYghYJ-14&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FGNYYghYJ-14%2Fhqdefault.jpg&type=text%2Fhtml&schema=youtube" width="940" height="528" scrolling="no" allowfullscreen="" title="Muirhead FreeTAN"></iframe></div>
                      <div class="breadcrumb_component-3">
                        <a href="#" class="breadcrumb-link-3 w-inline-block">
                          <div>Shop</div>
                        </a>
                        <div class="breadcrumb-divider-3 w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                          </svg></div>
                        <a href="#" class="breadcrumb-link-3 w-inline-block">
                          <div>This is some text inside of a div block.</div>
                        </a>
                      </div>
                    </div>
                    <div class="product-details">
                      <div class="margin-bottom">
                        <div>
                          <h1 li-object:text="product.title" class="heading-style-h2-3">
{{ product.title }}
</h1>
                        </div>
                      </div>
                      <div>
                        <div class="product-header_price-wrapper">
                          <div li-js-price="product.selected_or_first_available_variant.price" class="text-size-large text-weight-bold" x-text="LiquifyHelper.moneyFormat(product.selected_or_first_available_variant.price, true, '{{ shop.money_with_currency_format }}')">$55</div>
                          <template x-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price">
            <div li-js-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price">
        
                            <div li-js-price="product.selected_or_first_available_variant.compare_at_price" class="text-size-regular text-style-strikethrough text-align-right text-style-muted" x-text="LiquifyHelper.moneyFormat(product.selected_or_first_available_variant.compare_at_price, true, '{{ shop.money_with_currency_format }}')">$55</div>
                                  </div>
    </template>
                          <div class="product-header_tag-list">
                            <template x-if="product.selected_or_first_available_variant.available != true">
            <div li-js-if="product.selected_or_first_available_variant.available != true" class="product-item_tag">
        Not in Stock        </div>
    </template>
                            <template x-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price">
            <div li-js-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price" class="product-item_tag is-red">
        Sale        </div>
    </template>
                          </div>
                        </div>
                      </div>
                      <div pb-component="ba31" class="pb-booster cc-blank">
                        <div class="booster__wrapper cc-0">
                          <div class="booster__content cc-center">
                            <div class="booster__content cc-auto">
                              <div class="u-text-no-wrap">or 4 interest-free installments of <strong>$41.25</strong> by</div>
                            </div>
                            <div class="booster__content cc-auto"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/673b60ea8cdd5aef5c30adee_afterpays.svg" alt="" class="img-installments"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/673b60ea8cdd5aef5c30adef_klarna.svg" alt="" class="img-installments"></div>
                          </div>
                        </div>
                        <div class="w-embed">
                          <style>
[pb-component="ba31"] {
  font-size: clamp(0.55rem, 2.5vw, 0.725rem); /* Min font 12px, responsive to viewport, Max 20px */
}
</style>
                        </div>
                      </div>
                      <div class="divider-vertical"></div>
                      <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                        <div class="cta-012 cta-new">
                          <div class="buybox1_trust-icon-ctas-2"><img loading="lazy" src="{{ 'delivery-icon.svg' | asset_url }}" alt="" class="icon-embed-xsmall-5">
                            <div class="text-features-cta">Free Shipping over £99</div>
                          </div>
                          <div class="buybox1_trust-icon-ctas-2"><img loading="lazy" src="https://cdn.prod.website-files.com/68e2301d72211f0b080d09d7/68e2301d72211f0b080d0c43_checkmark.svg" alt="" class="icon-embed-xsmall-5">
                            <div class="text-features-cta">Insured Shipping</div>
                          </div>
                        </div>
                      </div>
                      {% for block in section.blocks %}
    {% if block.type == "add-to-cart" %}
                    <div li-block="Add to Cart" class="div-block-759">
                                    
                        
                                    <div class="product-header_form-block-2 w-form">
                          {% form 'product', product, class: 'product-header_default-state' %}
{% if product.has_only_default_variant != true %}    <div li-if="product.has_only_default_variant != true" class="product-header_option-list">
    
                              <template x-for="(option, optionKey) in product.options" :key="optionKey">
    <div li-element="product-options-loop" class="product-header_option-2" data-ProductVariantsLoop="true">
                                <div li-element="product-options-name" x-text="option">Variant</div>
                                <div class="product-header_radio-list"><template x-for="(variantName, variantKey) in options_by_name[option].option.values" :key="variantName">
    <label li-element="product-option-loop" class="product-header_radio-2 w-radio">
                                    <div class="w-form-formradioinput w-form-formradioinput--inputType-custom product-header_radio-button-2 w-radio-input"></div><input type="radio" li-element="product-option-input" style="opacity:0;position:absolute;z-index:-1" x-on:click="setVariant" :name="option" :data-name="option" :value="variantName" :id="variantName.toString().normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase().trim().replace(/\s+/g, '-').replace(/[^\w-]+/g, '').replace(/--+/g, '-')" :checked="selected_or_first_available_variant?.options.includes(variantName)" data-selectorType="radio" :class="firstOptionHasAvailableChildren[variantName] ? '' : 'data-disabled'"><span li-element="product-option-name" class="text-size-regular w-form-label" for="radio" x-text="variantName" :for="variantName">XS</span>
                                  </label></template></div>
                              </div></template>
                                </div>
{% endif %}
                            <div class="product-header_add-to-cart-wrapper">
                              <div class="label-3">Quantity</div>
                              <template x-if="selected_or_first_available_variant.available">
            <div li-js-if="selected_or_first_available_variant.available" class="product-header_buy-wrappper-2">
        
                                <div class="product-container_quantity-changers">
                                  <a x-on:click="quantity--" href="#" class="quantity-decreaser-4">-</a><input li-element="add-to-cart-quantity" class="mini-cart_line-item_quantity-adjust-2 xl" value="1" x-model="quantity">
                                  <a x-on:click="quantity++" href="#" class="quantity-increaser-4">+</a>
                                </div>
                                      </div>
    </template>
                              <div class="product-container_actions">
                                <a href="#" li-element="add-to-cart" data-w-id="60e90795-9a79-5a4f-8dad-3e6406151091" class="button-4 white-28 brown w-inline-block" @click="addToCart($event, true)" :disabled="!addToCartButton">
                                  <div class="icon-link-3 brown-2">
                                    <div id="cta_text" class="checkout-btns">
                                      <div id="cta_text" class="button-text">Add To Cart</div>
                                      <div class="html-embed-10 w-embed"><svg width="100%" height="100%" viewbox="0 0 47 47" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                          <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="Ecommerce-Icons" transform="translate(-68.000000, -2394.000000)" fill="CurrentColor">
                                              <g id="Primary-Lock-Black-Copy" transform="translate(68.000000, 2394.000000)">
                                                <path d="M2.894495,44.10574 L44.10574,44.10574 L44.10574,19.434265 L2.894495,19.434265 L2.894495,44.10574 Z M13.920695,12.473565 C13.920695,7.191705 18.217905,2.89426 23.5,2.89426 C28.782095,2.89426 33.079305,7.191705 33.079305,12.473565 L33.079305,16.539535 L13.920695,16.539535 L13.920695,12.473565 Z M45.55287,16.539535 L35.973565,16.539535 L35.973565,12.473565 C35.973565,5.595585 30.378215,0 23.5,0 C16.621785,0 11.026435,5.595585 11.026435,12.473565 L11.026435,16.539535 L1.44713,16.539535 C0.647895,16.539535 0,17.187665 0,17.9869 L0,45.55287 C0,46.352105 0.647895,47 1.44713,47 L45.55287,47 C46.352105,47 47,46.352105 47,45.55287 L47,17.9869 C47,17.187665 46.352105,16.539535 45.55287,16.539535 L45.55287,16.539535 Z" id="Fill-1"></path>
                                                <path d="M26.911401,28.2895115 C26.911401,26.3864815 25.368626,24.8439415 23.465596,24.8439415 C21.562331,24.8439415 20.019791,26.3864815 20.019791,28.2895115 C20.019791,29.4074065 20.554416,30.3979315 21.379266,31.0274965 L21.374331,31.0274965 L20.019791,38.6266915 L26.911401,38.6266915 L25.556861,31.0274965 L25.551691,31.0274965 C26.376776,30.3979315 26.911401,29.4074065 26.911401,28.2895115" id="Fill-3"></path>
                                              </g>
                                            </g>
                                          </g>
                                        </svg></div>
                                    </div>
                                  </div>
                                </a>
                                <div sf-shop-pay="1" sf-add-to-cart="1" class="shoppay-button">
                                  <div class="icon-embed_shop-pay w-embed"><svg width="93" height="22" viewbox="0 0 93 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <g clip-path="url(#clip0_1893_1983)">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M61.735 0C59.8748 0 58.3668 1.48632 58.3668 3.3198V18.4182C58.3668 20.2517 59.8748 21.738 61.735 21.738H89.1834C91.0436 21.738 92.5516 20.2517 92.5516 18.4182V3.3198C92.5516 1.48632 91.0436 0 89.1834 0H61.735ZM66.5429 15.1805V11.3534H68.9858C71.2175 11.3534 72.4042 10.1201 72.4042 8.25109C72.4042 6.38206 71.2175 5.26322 68.9858 5.26322H64.9693V15.1805H66.5429ZM66.5429 6.73808H68.6245C70.0692 6.73808 70.7789 7.32293 70.7789 8.30196C70.7789 9.28096 70.095 9.86583 68.6889 9.86583H66.5429V6.73808ZM75.1789 15.3839C76.3786 15.3839 77.1654 14.8626 77.5266 13.9726C77.6299 14.9643 78.2364 15.4729 79.552 15.1296L79.565 14.0743C79.036 14.1252 78.9327 13.9344 78.9327 13.3877V10.794C78.9327 9.26825 77.9137 8.36551 76.0304 8.36551C74.1726 8.36551 73.1019 9.28096 73.1019 10.8321H74.5469C74.5469 10.0947 75.0757 9.64969 76.0046 9.64969C76.9848 9.64969 77.4365 10.0693 77.4234 10.794V11.1246L75.7593 11.3026C73.8888 11.506 72.8569 12.2053 72.8569 13.4259C72.8569 14.4303 73.5791 15.3839 75.1789 15.3839ZM75.5013 14.2396C74.6886 14.2396 74.3663 13.8073 74.3663 13.375C74.3663 12.7901 75.0371 12.5231 76.3528 12.3706L77.3849 12.2561C77.3202 13.375 76.5592 14.2396 75.5013 14.2396ZM84.3434 15.6763C83.6856 17.2529 82.6277 17.7233 80.9766 17.7233H80.2669V16.4265H81.0282C81.931 16.4265 82.3696 16.1468 82.8471 15.3457L79.9187 8.56895H81.544L83.634 13.5149L85.4915 8.56895H87.0782L84.3434 15.6763Z" fill="white"></path>
                                        <path d="M8.01605 9.55501C5.86116 9.09429 4.90115 8.914 4.90115 8.09557C4.90115 7.32579 5.55083 6.94234 6.85016 6.94234C7.99285 6.94234 8.82815 7.43454 9.44301 8.3989C9.4894 8.47332 9.58511 8.49907 9.66341 8.459L12.0881 7.25139C12.1751 7.20845 12.207 7.09973 12.1577 7.01673C11.1513 5.2969 9.29218 4.35541 6.84435 4.35541C3.62794 4.35541 1.62964 5.91787 1.62964 8.40178C1.62964 11.0402 4.06297 11.707 6.22079 12.1677C8.37859 12.6284 9.34148 12.8087 9.34148 13.6271C9.34148 14.4455 8.63963 14.8319 7.23877 14.8319C5.94525 14.8319 4.98526 14.2481 4.4052 13.1149C4.36171 13.0319 4.26019 12.9976 4.1761 13.0405L1.75725 14.2223C1.67314 14.2653 1.63834 14.3654 1.68184 14.4513C2.64184 16.3543 4.61113 17.4245 7.24168 17.4245C10.5915 17.4245 12.6159 15.8878 12.6159 13.3267C12.6159 10.7655 10.171 10.0215 8.01605 9.56074V9.55501Z" fill="white"></path>
                                        <path d="M21.0093 4.3554C19.6346 4.3554 18.4194 4.83617 17.5464 5.69178C17.4913 5.7433 17.4014 5.70609 17.4014 5.6317V0.168836C17.4014 0.0744027 17.3259 0 17.2303 0H14.1966C14.1008 0 14.0254 0.0744027 14.0254 0.168836V17.124C14.0254 17.2185 14.1008 17.2929 14.1966 17.2929H17.2303C17.3259 17.2929 17.4014 17.2185 17.4014 17.124V9.68663C17.4014 8.25011 18.518 7.14837 20.0232 7.14837C21.5285 7.14837 22.619 8.22721 22.619 9.68663V17.124C22.619 17.2185 22.6944 17.2929 22.7901 17.2929H25.8238C25.9195 17.2929 25.9949 17.2185 25.9949 17.124V9.68663C25.9949 6.56173 23.9183 4.35828 21.0093 4.35828V4.3554Z" fill="white"></path>
                                        <path d="M32.155 3.87178C30.5078 3.87178 28.9591 4.36683 27.8509 5.08509C27.7757 5.13376 27.7496 5.2339 27.796 5.31117L29.1329 7.56327C29.1823 7.64339 29.2866 7.67202 29.3678 7.62337C30.209 7.12259 31.1718 6.86217 32.155 6.8679C34.8029 6.8679 36.749 8.7108 36.749 11.146C36.749 13.2207 35.1916 14.7574 33.2165 14.7574C31.6069 14.7574 30.4904 13.8331 30.4904 12.5282C30.4904 11.7813 30.8122 11.1689 31.6504 10.7368C31.7373 10.691 31.7694 10.5852 31.7172 10.5022L30.4556 8.39601C30.4149 8.32735 30.328 8.29587 30.2495 8.32447C28.5587 8.94259 27.3723 10.4306 27.3723 12.4281C27.3723 15.4499 29.8116 17.7049 33.2138 17.7049C37.1871 17.7049 40.0438 14.9892 40.0438 11.0945C40.0438 6.9194 36.7202 3.8689 32.1493 3.8689L32.155 3.87178Z" fill="white"></path>
                                        <path d="M48.9155 4.3325C47.3812 4.3325 46.0123 4.89052 45.0117 5.87492C44.9566 5.9293 44.8667 5.88923 44.8667 5.81484V4.63013C44.8667 4.53569 44.7915 4.46127 44.6956 4.46127H41.7403C41.6447 4.46127 41.5692 4.53569 41.5692 4.63013V21.5596C41.5692 21.654 41.6447 21.7284 41.7403 21.7284H44.7738C44.8697 21.7284 44.9452 21.654 44.9452 21.5596V16.008C44.9452 15.9336 45.0351 15.8964 45.09 15.945C46.0878 16.8607 47.4073 17.3959 48.9185 17.3959C52.4771 17.3959 55.2526 14.5543 55.2526 10.8628C55.2526 7.17124 52.4741 4.32965 48.9185 4.32965L48.9155 4.3325ZM48.3443 14.5285C46.3198 14.5285 44.7855 12.9403 44.7855 10.8399C44.7855 8.73943 46.3168 7.15122 48.3443 7.15122C50.3716 7.15122 51.8999 8.71368 51.8999 10.8399C51.8999 12.9661 50.3917 14.5285 48.3413 14.5285H48.3443Z" fill="white"></path>
                                      </g>
                                      <defs>
                                        <clippath id="clip0_1893_1983">
                                          <rect width="92.6173" height="22" fill="currentColor"></rect>
                                        </clippath>
                                      </defs>
                                    </svg></div>
                                </div>
                              </div>
                            </div>
                          {% endform %}
                          <div class="hide-2 w-form-done">
                            <div>Thank you! Your submission has been received!</div>
                          </div>
                          <div class="hide-2 w-form-fail">
                            <div>Oops! Something went wrong while submitting the form.</div>
                          </div>
                        </div>
                                    
                      
                            </div>
            {% endif %}
{% endfor %}
                      <div class="pb-booster cc-blank">
                        <div class="booster__wrapper cc-0">
                          <div class="booster__content cc-center gap-xs"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/66f5c7386b7a95c9ed85de8d_visa.8d7f514b.svg" alt="" class="pb-component__icon _w-8"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/66f5c7396b7a95c9ed85df08_mastercard.3afe1dc7.svg" alt="" class="pb-component__icon _w-8"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/66f5c7396b7a95c9ed85df1d_amex.96fe8a50.svg" alt="" class="pb-component__icon _w-8"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/66f5c7386b7a95c9ed85decf_paypal.9f345195.svg" alt="" class="pb-component__icon _w-8"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/66f5c7396b7a95c9ed85df3d_discover.f0950dd5.svg" alt="" class="pb-component__icon _w-8"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/66f5c7396b7a95c9ed85df39_google-pay.7028b8c9.svg" alt="" class="pb-component__icon _w-8"><img loading="lazy" src="https://cdn.prod.website-files.com/65cbdeecb4cbc13e1c6b42ad/66f5c7396b7a95c9ed85df28_apple-pay.730a4379.svg" alt="" class="pb-component__icon _w-8"></div>
                        </div>
                      </div>
                      <div class="div-block-736"><img loading="eager" src="https://cdn.prod.website-files.com/68e2301d72211f0b080d09d7/68e2301d72211f0b080d0bf6_low-carbon-leather-logo.avif" alt="" class="icon-large">
                        <div class="div-block-746">
                          <p class="text-size-tiny-2">We have the lowest carbon leather in the world. <br>
                            <a href="#" class="link-underline">Find out more</a>
                          </p>
                        </div>
                      </div>
                      <div class="divider-vertical"></div>
                      <div class="divider-vertical"></div>
                      <div>
                        <div class="label-3">Suitable For</div>
                        <ul role="list" class="block_item-list_features-2 w-list-unstyled">
                          <li class="icon-list-item-2">
                            <div class="feature-wrap"><img loading="lazy" src="{{ 'bus-1.svg' | asset_url }}" alt="" class="icon-embed-xsmall-5">
                              <div class="text-size-small-14">Bus</div>
                            </div>
                            <div class="feature-wrap"><img loading="lazy" src="{{ 'sofa-1.svg' | asset_url }}" alt="" class="icon-embed-xsmall-5">
                              <div class="text-size-small-14">Interiors</div>
                            </div>
                            <div class="feature-wrap"><img loading="lazy" src="{{ 'plane-1.svg' | asset_url }}" alt="" class="icon-embed-xsmall-5">
                              <div class="text-size-small-14">Plane</div>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="product-container_variant-info-2">
                        <div class="product-container_variant-info-row">
                          <div class="label-3">SKU:</div>
                          <div class="sku-displayer">This is some text inside of a div block.</div>
                        </div>
                        <div class="product-container_variant-info-row">
                          <div class="label-3">Items available: </div>
                          <div sf-show-stock="1" class="stock-count-displayer">0<br></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hide w-embed w-script">
          <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
          <script>
document.addEventListener("DOMContentLoaded", () => {
  $(".swiper-container").each(function (index) {
    const thumbsSwiper = new Swiper($(this).find(".swiper.is-product-thumbnail")[0], {
      slidesPerView: "auto",
      rewind: false,
      loopedSlides: 8,
      slideToClickedSlide: true,
      spaceBetween: "4%",
    });
    const swiper = new Swiper($(this).find(".swiper.is-product-gallery")[0], {
      mousewheel: {
        forceToAxis: true
      },
      thumbs: {
        swiper: thumbsSwiper,
        slideThumbActiveClass: "is-active",
      },
      keyboard: {
        enabled: true,
        onlyInViewport: true
      },
      navigation: {
        nextEl: $(this).find(".swiper-next")[0],
        prevEl: $(this).find(".swiper-prev")[0],
      }
    });
  }); 
});
</script>
        </div> {% schema %} {
    "tag": "header",
    "name": "Product Page",
    "class": "section",
    "blocks": [
        {
            "name": "Add to Cart",
            "type": "add-to-cart",
            "settings": null
        }
    ],
    "presets": [
        {
            "name": "Product Page",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "add-to-cart"
                }
            ]
        }
    ],
    "enabled_on": {
        "templates": [
            "product"
        ]
    }
} {% endschema %}