<div class="padding-global">
          <div class="container-large">
            <div class="card_component">
              <div li-content-for-theme-blocks="" id="w-node-_285bf43b-d382-10f0-ce99-d354f7bbbb38-029cc97b" class="content_wrapper">
{% content_for 'blocks' %}
</div>
              <a href="{{ section.settings.url_button_link }}" class="header77_content-right-2 w-inline-block"> <div data-w-id="8337e173-a50f-7eae-09c0-e97413d92291" class="layout414_content-bottom"> <div class="layout414_image-list image-list-top"> <div id="w-node-_8337e173-a50f-7eae-09c0-e97413d92293-029cc97b" class="layout414_image-wrapper-2">{% if section.settings.image_top_1 %} {{ section.settings.image_top_1 | image_url: width: 1000 | image_tag: class: 'layout414_image', sizes: '(max-width: 1520px) 100vw, 1520px', id: 'w-node-_8337e173-a50f-7eae-09c0-e97413d92294-029cc97b', loading: 'lazy' }} {% else %} {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image' }} {% endif %}</div> <div id="w-node-_8337e173-a50f-7eae-09c0-e97413d92295-029cc97b" class="layout414_image-wrapper-2">{% if section.settings.image_top_2 %} {{ section.settings.image_top_2 | image_url: width: 1000 | image_tag: class: 'layout414_image', sizes: '(max-width: 1005px) 100vw, 1005px', id: 'w-node-_8337e173-a50f-7eae-09c0-e97413d92296-029cc97b', loading: 'lazy' }} {% else %} {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image' }} {% endif %}</div> <div id="w-node-_8337e173-a50f-7eae-09c0-e97413d92297-029cc97b" class="layout414_image-wrapper-2">{% if section.settings.image_top_3 %} {{ section.settings.image_top_3 | image_url: width: 1000 | image_tag: class: 'layout414_image', sizes: '(max-width: 1005px) 100vw, 1005px', id: 'w-node-_8337e173-a50f-7eae-09c0-e97413d92298-029cc97b', loading: 'lazy' }} {% else %} {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image' }} {% endif %}</div> <div id="w-node-_8337e173-a50f-7eae-09c0-e97413d92299-029cc97b" class="layout414_image-wrapper-2">{% if section.settings.image_top_4 %} {{ section.settings.image_top_4 | image_url: width: 1000 | image_tag: id: 'w-node-_8337e173-a50f-7eae-09c0-e97413d9229a-029cc97b', loading: 'lazy', class: 'layout414_image' }} {% else %} {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image' }} {% endif %}</div> </div> <div class="layout414_image-list image-list-bottom"> <div id="w-node-_8337e173-a50f-7eae-09c0-e97413d9229c-029cc97b" class="layout414_image-wrapper-2">{% if section.settings.image_bottom_1 %} {{ section.settings.image_bottom_1 | image_url: width: 1000 | image_tag: id: 'w-node-_8337e173-a50f-7eae-09c0-e97413d9229d-029cc97b', loading: 'lazy', class: 'layout414_image' }} {% else %} {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image' }} {% endif %}</div> <div id="w-node-_8337e173-a50f-7eae-09c0-e97413d9229e-029cc97b" class="layout414_image-wrapper-2">{% if section.settings.image_bottom_2 %} {{ section.settings.image_bottom_2 | image_url: width: 1000 | image_tag: class: 'layout414_image', sizes: '(max-width: 1005px) 100vw, 1005px', id: 'w-node-_8337e173-a50f-7eae-09c0-e97413d9229f-029cc97b', loading: 'lazy' }} {% else %} {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image' }} {% endif %}</div> <div id="w-node-_8337e173-a50f-7eae-09c0-e97413d922a0-029cc97b" class="layout414_image-wrapper-2">{% if section.settings.image_bottom_3 %} {{ section.settings.image_bottom_3 | image_url: width: 1000 | image_tag: class: 'layout414_image', sizes: '(max-width: 1005px) 100vw, 1005px', id: 'w-node-_8337e173-a50f-7eae-09c0-e97413d922a1-029cc97b', loading: 'lazy' }} {% else %} {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image' }} {% endif %}</div> <div id="w-node-_8337e173-a50f-7eae-09c0-e97413d922a2-029cc97b" class="layout414_image-wrapper-2">{% if section.settings.image_bottom_4 %} {{ section.settings.image_bottom_4 | image_url: width: 1000 | image_tag: id: 'w-node-_8337e173-a50f-7eae-09c0-e97413d922a3-029cc97b', loading: 'lazy', class: 'layout414_image' }} {% else %} {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image' }} {% endif %}</div> </div> </div> </a>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Scrolling Content 2",
    "class": "section _2rem max-height-100vh",
    "blocks": [
        {
            "type": "pre-heading"
        },
        {
            "type": "heading"
        },
        {
            "type": "content"
        },
        {
            "type": "buttons"
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "id": "url_button_link",
            "type": "url",
            "label": "Button Link"
        },
        {
            "id": "image_top_1",
            "type": "image_picker",
            "label": "Top 1"
        },
        {
            "id": "image_top_2",
            "type": "image_picker",
            "label": "Top 2"
        },
        {
            "id": "image_top_3",
            "type": "image_picker",
            "label": "Top 3"
        },
        {
            "id": "image_top_4",
            "type": "image_picker",
            "label": "Top 4"
        },
        {
            "id": "image_bottom_1",
            "type": "image_picker",
            "label": "Bottom 1"
        },
        {
            "id": "image_bottom_2",
            "type": "image_picker",
            "label": "Bottom 2"
        },
        {
            "id": "image_bottom_3",
            "type": "image_picker",
            "label": "Bottom 3"
        },
        {
            "id": "image_bottom_4",
            "type": "image_picker",
            "label": "Bottom 4"
        },
        {
            "type": "header",
            "content": "image-position"
        },
        {
            "type": "select",
            "id": "image_position",
            "label": "Image position",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "left"
        }
    ],
    "presets": [
        {
            "name": "Scrolling Content 2",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "pre-heading"
                },
                {
                    "type": "heading"
                },
                {
                    "type": "content"
                },
                {
                    "type": "buttons"
                }
            ]
        }
    ]
} {% endschema %}