<div>
          <div class="padding-global-6 padding-section-small">
            <div class="container-large">
              <div class="content_grid">
                <div li-content-for-theme-blocks="" class="content_wrapper-2">
{% content_for 'blocks' %}
</div>
                <div data-w-id="b4803d8a-053e-7cce-bcc7-9827f2245efd" class="grid-scroller" style="{% if section.settings.grid_position == 'left' %}order: -1;{% endif %}">
                  <div class="layout414-image-list image-list-top">
                    <div id="w-node-b4803d8a-053e-7cce-bcc7-9827f2245eff-f2245ec9" class="layout414-image-wrapper-2">{% if section.settings.image_top_1 %}
{{ section.settings.image_top_1 | image_url: width: 1000 | image_tag: class: 'layout414_image', sizes: '239.97396850585938px', id: 'w-node-b4803d8a-053e-7cce-bcc7-9827f2245f00-f2245ec9', loading: 'lazy' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image' }} 
{% endif %}</div>
                    <div id="w-node-b4803d8a-053e-7cce-bcc7-9827f2245f01-f2245ec9" class="layout414-image-wrapper-2">{% if section.settings.image_top_2 %}
{{ section.settings.image_top_2 | image_url: width: 1000 | image_tag: class: 'layout414_image', sizes: '239.97396850585938px', id: 'w-node-b4803d8a-053e-7cce-bcc7-9827f2245f02-f2245ec9', loading: 'lazy' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image' }} 
{% endif %}</div>
                    <div id="w-node-b4803d8a-053e-7cce-bcc7-9827f2245f03-f2245ec9" class="layout414-image-wrapper-2">{% if section.settings.image_top_3 %}
{{ section.settings.image_top_3 | image_url: width: 1000 | image_tag: class: 'layout414_image', sizes: '239.97396850585938px', id: 'w-node-b4803d8a-053e-7cce-bcc7-9827f2245f04-f2245ec9', loading: 'lazy' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image' }} 
{% endif %}</div>
                    <div id="w-node-b4803d8a-053e-7cce-bcc7-9827f2245f05-f2245ec9" class="layout414-image-wrapper-2">{% if section.settings.image_top_4 %}
{{ section.settings.image_top_4 | image_url: width: 1000 | image_tag: id: 'w-node-b4803d8a-053e-7cce-bcc7-9827f2245f06-f2245ec9', loading: 'lazy', class: 'layout414_image' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image' }} 
{% endif %}</div>
                  </div>
                  <div class="layout414-image-list image-list-bottom">
                    <div id="w-node-b4803d8a-053e-7cce-bcc7-9827f2245f08-f2245ec9" class="layout414-image-wrapper-2">{% if section.settings.image_bottom_1 %}
{{ section.settings.image_bottom_1 | image_url: width: 1000 | image_tag: id: 'w-node-b4803d8a-053e-7cce-bcc7-9827f2245f09-f2245ec9', loading: 'lazy', class: 'layout414_image' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image' }} 
{% endif %}</div>
                    <div id="w-node-b4803d8a-053e-7cce-bcc7-9827f2245f0a-f2245ec9" class="layout414-image-wrapper-2">{% if section.settings.image_bottom_2 %}
{{ section.settings.image_bottom_2 | image_url: width: 1000 | image_tag: class: 'layout414_image', sizes: '239.97396850585938px', id: 'w-node-b4803d8a-053e-7cce-bcc7-9827f2245f0b-f2245ec9', loading: 'lazy' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image' }} 
{% endif %}</div>
                    <div id="w-node-b4803d8a-053e-7cce-bcc7-9827f2245f0c-f2245ec9" class="layout414-image-wrapper-2">{% if section.settings.image_bottom_3 %}
{{ section.settings.image_bottom_3 | image_url: width: 1000 | image_tag: class: 'layout414_image', sizes: '239.97396850585938px', id: 'w-node-b4803d8a-053e-7cce-bcc7-9827f2245f0d-f2245ec9', loading: 'lazy' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image' }} 
{% endif %}</div>
                    <div id="w-node-b4803d8a-053e-7cce-bcc7-9827f2245f0e-f2245ec9" class="layout414-image-wrapper-2">{% if section.settings.image_bottom_4 %}
{{ section.settings.image_bottom_4 | image_url: width: 1000 | image_tag: id: 'w-node-b4803d8a-053e-7cce-bcc7-9827f2245f0f-f2245ec9', loading: 'lazy', class: 'layout414_image' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image' }} 
{% endif %}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Scroll Image",
    "class": "image-scroll image-scroll {{ section.settings.color_theme }}",
    "blocks": [
        {
            "type": "headline-small"
        },
        {
            "type": "headline"
        },
        {
            "type": "text"
        },
        {
            "type": "buttons"
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "id": "image_top_1",
            "type": "image_picker",
            "label": "Top 1"
        },
        {
            "id": "image_top_2",
            "type": "image_picker",
            "label": "Top 2"
        },
        {
            "id": "image_top_3",
            "type": "image_picker",
            "label": "Top 3"
        },
        {
            "id": "image_top_4",
            "type": "image_picker",
            "label": "Top 4"
        },
        {
            "id": "image_bottom_1",
            "type": "image_picker",
            "label": "Bottom 1"
        },
        {
            "id": "image_bottom_2",
            "type": "image_picker",
            "label": "Bottom 2"
        },
        {
            "id": "image_bottom_3",
            "type": "image_picker",
            "label": "Bottom 3"
        },
        {
            "id": "image_bottom_4",
            "type": "image_picker",
            "label": "Bottom 4"
        },
        {
            "type": "header",
            "content": "grid-position"
        },
        {
            "type": "select",
            "id": "grid_position",
            "label": "Grid position",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "left"
        },
        {
            "type": "header",
            "content": "Colour Theme"
        },
        {
            "type": "select",
            "id": "color_theme",
            "label": "Color Theme",
            "default": "",
            "options": [
                {
                    "label": "Light",
                    "value": ""
                },
                {
                    "label": "Dark",
                    "value": "w-variant-3aa98241-5d8b-d786-2c5d-1f82c904badb"
                },
                {
                    "label": "Grey",
                    "value": "w-variant-8747a1c-35ce-0a09-8fe7-c250f5df59cb"
                },
                {
                    "label": "Blue",
                    "value": "w-variant-b3a29cf9-8a40-f989-0dfa-1f92f1f50c8d"
                },
                {
                    "label": "Light-Green",
                    "value": "w-variant-4be31332-7a2c-4de2-7c04-c76920bb36da"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Scroll Image",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "headline-small"
                },
                {
                    "type": "headline"
                },
                {
                    "type": "text"
                },
                {
                    "type": "buttons",
                    "blocks": [
                        {
                            "type": "button"
                        }
                    ]
                }
            ]
        }
    ]
} {% endschema %}