<div style="background-color: {{ section.settings.background_colour }} !important;">
          <div class="padding-global-6 padding-section-small">
            <div class="container-large">
              <div class="content_grid">
                <div li-content-for-blocks="" class="content_wrapper-2">
{% for block in section.blocks %}
{% case block.type %}
{% when '@app' %}
{% render block %}

                  {% when 'headline-small' %}
            <div li-block="Headline small" class="content_block">
                    
                    
                    <div class="text-size-small-20">
{{ block.settings.text_text }}
</div>
                    
                  
                </div>
                  {% when 'headline' %}
            <div li-block="Headline" class="content_block">
                    
                    
                    <h2>
{{ block.settings.text_headline }}
</h2>
                    
                  
                </div>
                  {% when 'text' %}
            <div li-block="Text" class="content_block">
                    
                    
                    <div> {{ block.settings.richtext_text }} </div>
                    
                  
                </div>
                  {% when 'buttons' %}
            <div li-block="Buttons" class="content_block">
                    
                    
                    <div class="button-group-10">
                      {% if block.settings.url_button_link %}    <div li-if="block.settings.url_button_link" class="content_block">
    
                        <a href="{{ block.settings.url_button_link }}" data-w-id="b4803d8a-053e-7cce-bcc7-9827f2245eda" class="button-main dark-182 w-inline-block"> <div class="icon-link-3 dark-183"> <div class="clip-2 white-10 dark-190"> <div class="hover-text white-31 dark-185"> <div class="text-size-small-11 white-34 dark-188">{{ block.settings.text_button_text }}</div> </div> <div class="hover-text white-31 dark-185 bottom white-20 dark-187"> <div class="text-size-small-11 white-34 dark-188">{{ block.settings.text_button_text }}</div> </div> </div> <div sym-bind="{"visibility":{"type":"Record","val":{"conditions":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"96595133-de64-782c-bc2b-1a27b5d57cf2"}}}}}" class="icon-link_circle-2 white-22 dark-189"> <div class="clip-2 white-10 dark-190"> <div class="hover-arrow-3 dark-191"><img sym-bind="{"img":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"65b07040-501f-bf3a-2cb4-717461e9b2dd"}}}" loading="lazy" alt="" src="{{ 'arrow-right-long-line.svg' | asset_url }}" class="icon-1x1-small-7 white-12 dark-196"></div> <div class="hover-arrow-3 dark-191 left-arrow dark-194"><img sym-bind="{"img":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"65b07040-501f-bf3a-2cb4-717461e9b2dd"}}}" loading="lazy" alt="" src="{{ 'arrow-right-long-line.svg' | asset_url }}" class="icon-1x1-small-7 white-12 dark-196"></div> </div> </div> </div> </a>
                          </div>
{% endif %}
                      {% if block.settings.url_button_link_2 %}    <div li-if="block.settings.url_button_link_2" class="content_block">
    
                        <a href="{{ block.settings.url_button_link_2 }}" data-w-id="b4803d8a-053e-7cce-bcc7-9827f2245eec" class="button-main dark-167 outline w-inline-block"> <div class="icon-link-3 dark-168"> <div class="clip-2 white-10 dark-175"> <div class="hover-text white-31 dark-170"> <div class="text-size-small-11 white-34 dark-173">{{ block.settings.text_button_text_2 }}</div> </div> <div class="hover-text white-31 dark-170 bottom white-20 dark-172"> <div class="text-size-small-11 white-34 dark-173">{{ block.settings.text_button_text_2 }}</div> </div> </div> </div> </a>
                          </div>
{% endif %}
                    </div>
                    
                  
                </div>
                {% endcase %}
{% endfor %}

    </div>
                <div data-w-id="b4803d8a-053e-7cce-bcc7-9827f2245efd" class="grid-scroller" style="{% if section.settings.grid_position == 'left' %}order: -1;{% endif %}">
                  <div class="layout414-image-list image-list-top">
                    <div id="w-node-b4803d8a-053e-7cce-bcc7-9827f2245eff-f2245ec9" class="layout414-image-wrapper-2">{% if section.settings.image_top_1 %}
{{ section.settings.image_top_1 | image_url: width: 1000 | image_tag: class: 'layout414_image', sizes: '(max-width: 1919px) 100vw, 1519.982666015625px', id: 'w-node-b4803d8a-053e-7cce-bcc7-9827f2245f00-f2245ec9', loading: 'lazy' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image' }} 
{% endif %}</div>
                    <div id="w-node-b4803d8a-053e-7cce-bcc7-9827f2245f01-f2245ec9" class="layout414-image-wrapper-2">{% if section.settings.image_top_2 %}
{{ section.settings.image_top_2 | image_url: width: 1000 | image_tag: class: 'layout414_image', sizes: '(max-width: 1279px) 100vw, 1004.9913940429688px', id: 'w-node-b4803d8a-053e-7cce-bcc7-9827f2245f02-f2245ec9', loading: 'lazy' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image' }} 
{% endif %}</div>
                    <div id="w-node-b4803d8a-053e-7cce-bcc7-9827f2245f03-f2245ec9" class="layout414-image-wrapper-2">{% if section.settings.image_top_3 %}
{{ section.settings.image_top_3 | image_url: width: 1000 | image_tag: class: 'layout414_image', sizes: '(max-width: 1279px) 100vw, 1004.9913940429688px', id: 'w-node-b4803d8a-053e-7cce-bcc7-9827f2245f04-f2245ec9', loading: 'lazy' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image' }} 
{% endif %}</div>
                    <div id="w-node-b4803d8a-053e-7cce-bcc7-9827f2245f05-f2245ec9" class="layout414-image-wrapper-2">{% if section.settings.image_top_4 %}
{{ section.settings.image_top_4 | image_url: width: 1000 | image_tag: id: 'w-node-b4803d8a-053e-7cce-bcc7-9827f2245f06-f2245ec9', loading: 'lazy', class: 'layout414_image' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image' }} 
{% endif %}</div>
                  </div>
                  <div class="layout414-image-list image-list-bottom">
                    <div id="w-node-b4803d8a-053e-7cce-bcc7-9827f2245f08-f2245ec9" class="layout414-image-wrapper-2">{% if section.settings.image_bottom_1 %}
{{ section.settings.image_bottom_1 | image_url: width: 1000 | image_tag: id: 'w-node-b4803d8a-053e-7cce-bcc7-9827f2245f09-f2245ec9', loading: 'lazy', class: 'layout414_image' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image' }} 
{% endif %}</div>
                    <div id="w-node-b4803d8a-053e-7cce-bcc7-9827f2245f0a-f2245ec9" class="layout414-image-wrapper-2">{% if section.settings.image_bottom_2 %}
{{ section.settings.image_bottom_2 | image_url: width: 1000 | image_tag: class: 'layout414_image', sizes: '(max-width: 1279px) 100vw, 1004.9913940429688px', id: 'w-node-b4803d8a-053e-7cce-bcc7-9827f2245f0b-f2245ec9', loading: 'lazy' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image' }} 
{% endif %}</div>
                    <div id="w-node-b4803d8a-053e-7cce-bcc7-9827f2245f0c-f2245ec9" class="layout414-image-wrapper-2">{% if section.settings.image_bottom_3 %}
{{ section.settings.image_bottom_3 | image_url: width: 1000 | image_tag: class: 'layout414_image', sizes: '(max-width: 1279px) 100vw, 1004.9913940429688px', id: 'w-node-b4803d8a-053e-7cce-bcc7-9827f2245f0d-f2245ec9', loading: 'lazy' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image' }} 
{% endif %}</div>
                    <div id="w-node-b4803d8a-053e-7cce-bcc7-9827f2245f0e-f2245ec9" class="layout414-image-wrapper-2">{% if section.settings.image_bottom_4 %}
{{ section.settings.image_bottom_4 | image_url: width: 1000 | image_tag: id: 'w-node-b4803d8a-053e-7cce-bcc7-9827f2245f0f-f2245ec9', loading: 'lazy', class: 'layout414_image' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image' }} 
{% endif %}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Scroll Image",
    "class": "section_content",
    "blocks": [
        {
            "name": "Headline small",
            "type": "headline-small",
            "settings": [
                {
                    "id": "text_text",
                    "type": "text",
                    "label": "Text",
                    "default": "Small Headline"
                }
            ]
        },
        {
            "name": "Headline",
            "type": "headline",
            "settings": [
                {
                    "id": "text_headline",
                    "type": "text",
                    "label": "Headline",
                    "default": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy."
                }
            ]
        },
        {
            "name": "Text",
            "type": "text",
            "settings": [
                {
                    "id": "richtext_text",
                    "type": "richtext",
                    "label": "Text",
                    "default": "<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.<\/p>"
                }
            ]
        },
        {
            "name": "Buttons",
            "type": "buttons",
            "settings": [
                {
                    "id": "url_button_link",
                    "type": "url",
                    "label": "Button Link"
                },
                {
                    "id": "text_button_text",
                    "type": "text",
                    "label": "Button Text",
                    "default": "Learn More"
                },
                {
                    "id": "url_button_link_2",
                    "type": "url",
                    "label": "Button Link 2"
                },
                {
                    "id": "text_button_text_2",
                    "type": "text",
                    "label": "Button Text 2",
                    "default": "Learn More"
                }
            ]
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "id": "image_top_1",
            "type": "image_picker",
            "label": "Top 1"
        },
        {
            "id": "image_top_2",
            "type": "image_picker",
            "label": "Top 2"
        },
        {
            "id": "image_top_3",
            "type": "image_picker",
            "label": "Top 3"
        },
        {
            "id": "image_top_4",
            "type": "image_picker",
            "label": "Top 4"
        },
        {
            "id": "image_bottom_1",
            "type": "image_picker",
            "label": "Bottom 1"
        },
        {
            "id": "image_bottom_2",
            "type": "image_picker",
            "label": "Bottom 2"
        },
        {
            "id": "image_bottom_3",
            "type": "image_picker",
            "label": "Bottom 3"
        },
        {
            "id": "image_bottom_4",
            "type": "image_picker",
            "label": "Bottom 4"
        },
        {
            "type": "header",
            "content": "grid-position"
        },
        {
            "type": "select",
            "id": "grid_position",
            "label": "Grid position",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "left"
        },
        {
            "type": "header",
            "content": "background-colour"
        },
        {
            "type": "color",
            "id": "background_colour",
            "label": "Background Colour",
            "default": "#ffffff"
        }
    ],
    "presets": [
        {
            "name": "Scroll Image",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "headline-small"
                },
                {
                    "type": "headline"
                },
                {
                    "type": "text"
                },
                {
                    "type": "buttons"
                }
            ]
        }
    ]
} {% endschema %}