<div class="padding-global">
          <div class="container-large">
            <div class="card-component">
              <div li-content-for-blocks="" id="w-node-_1e720e56-b391-dcf5-0597-3d7820336194-20336190" class="content_wrapper">
{% for block in section.blocks %}
{% case block.type %}
{% when '@app' %}
{% render block %}

                {% when 'pre-heading' %}
            <div li-block="Pre Heading">
                    
                  
                    <div>
{{ block.settings.text_text }}
</div>
                    
                
                </div>
                {% when 'heading' %}
            <div li-block="Heading">
                    
                  
                    <h2>
{{ block.settings.text_heading }}
</h2>
                    
                
                </div>
                {% when 'content' %}
            <div li-block="Content">
                    
                  
                    <div class="rich-text-block w-richtext"> {{ block.settings.richtext_richtext }} </div>
                    
                
                </div>
                {% when 'buttons' %}
            <div li-block="Buttons" class="button-group">
                    
                  
                    <a href="{{ block.settings.url_button_link }}" data-wf--button-main--variant="dark" data-w-id="62fe5b66-eb79-581e-644e-970322077823" class="button-main w-variant-40d42f51-beaf-80a4-8697-83623596810b w-inline-block"> <div class="icon-link-3"> <div class="clip-2 white-10"> <div class="hover-text white-31"> <div class="text-size-small-11 white-34">{{ block.settings.text_button_text }}</div> </div> <div class="hover-text white-31 bottom white-20"> <div class="text-size-small-11 white-34">{{ block.settings.text_button_text }}</div> </div> </div> <div sym-bind="{"visibility":{"type":"Record","val":{"conditions":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"96595133-de64-782c-bc2b-1a27b5d57cf2"}}}}}" class="icon-link_circle-2 white-22"> <div class="clip-2 white-10"> <div class="hover-arrow-3"><img sym-bind="{"img":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"65b07040-501f-bf3a-2cb4-717461e9b2dd"}}}" src="{{ 'arrow-right-long-line_1.svg' | asset_url }}" alt="" loading="lazy" class="icon-1x1-small-7 white-12"></div> <div class="hover-arrow-3 left-arrow"><img sym-bind="{"img":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"65b07040-501f-bf3a-2cb4-717461e9b2dd"}}}" loading="lazy" alt="" src="{{ 'arrow-right-long-line_1.svg' | asset_url }}" class="icon-1x1-small-7 white-12"></div> </div> </div> </div> </a>
                    
                
                </div>
              {% endcase %}
{% endfor %}

    </div>
              <div id="w-node-_1e720e56-b391-dcf5-0597-3d78203361aa-20336190" class="card_img-wrapper">{% if section.settings.image_image %}
{{ section.settings.image_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'card_img' }}
{% else %}
<img alt="" src="{{ 'image.svg' | asset_url }}" loading="lazy" class="card_img">
{% endif %}</div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Test Content 2",
    "class": "section _2rem",
    "blocks": [
        {
            "name": "Pre Heading",
            "type": "pre-heading",
            "settings": [
                {
                    "id": "text_text",
                    "type": "text",
                    "label": "Text",
                    "default": "Muirhead Seat Cover Service:"
                }
            ]
        },
        {
            "name": "Heading",
            "type": "heading",
            "settings": [
                {
                    "id": "text_heading",
                    "type": "text",
                    "label": "Heading",
                    "default": "Muirhead Seat Cover Service"
                }
            ]
        },
        {
            "name": "Content",
            "type": "content",
            "settings": [
                {
                    "id": "richtext_richtext",
                    "type": "richtext",
                    "label": "Richtext",
                    "default": "<p>\n                    As the world\u2019s most trusted leather supplier for aviation and rail, we bring unparalleled expertise in crafting durable, high-quality leather seat covers. Most manufacturers today are optimised for fabric and synthetic materials. \n                    \u200d\n                    However, leather requires specialised processes to achieve the highest standards in production, performance, lead times and cost efficiency. \n                    \u200d\n                <\/p>"
                }
            ]
        },
        {
            "name": "Buttons",
            "type": "buttons",
            "settings": [
                {
                    "id": "url_button_link",
                    "type": "url",
                    "label": "Button Link"
                },
                {
                    "id": "text_button_text",
                    "type": "text",
                    "label": "Button Text",
                    "default": "Learn More"
                }
            ]
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        }
    ],
    "presets": [
        {
            "name": "Test Content 2",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "pre-heading"
                },
                {
                    "type": "heading"
                },
                {
                    "type": "content"
                },
                {
                    "type": "buttons"
                }
            ]
        }
    ]
} {% endschema %}